Q10: Write a python program to scrape the salary data for Data Scientist designation.
You have to scrape Company name, Number of salaries, Average salary, Min salary, Max Salary.

In [1]:
import selenium
import pandas as pd
from selenium import webdriver

In [2]:
driver = webdriver.Chrome(r"C:\Users\Lenovo\Desktop\DS\chromedriver.exe")
driver.get ('https://www.ambitionbox.com/')

<ipython-input-2-8db4e7f1e513>:1: DeprecationWarning: executable_path has been deprecated, please pass in a Service object
  driver = webdriver.Chrome(r"C:\Users\Lenovo\Desktop\DS\chromedriver.exe")

In [3]:
salaries = driver.find_element_by_xpath('/html/body/div[1]/nav/nav/a[4]')
salaries.click()

<ipython-input-3-3e677c200ced>:1: DeprecationWarning: find_element_by_* commands are deprecated. Please use find_element() instead
  salaries = driver.find_element_by_xpath('/html/body/div[1]/nav/nav/a[4]')

In [4]:
search = driver.find_element_by_xpath ('/html/body/div/div/div/main/section[1]/div[2]/div[1]/span/input')
search.send_keys('Data Scientist')

<ipython-input-4-e25d0cec5d69>:1: DeprecationWarning: find_element_by_* commands are deprecated. Please use find_element() instead
  search = driver.find_element_by_xpath ('/html/body/div/div/div/main/section[1]/div[2]/div[1]/span/input')

In [5]:
data = driver.find_element_by_xpath('//*[@id="salaries"]/main/section[1]/div[2]/div[1]/span/div/div/div[1]/div/div/p')
data.click()

<ipython-input-5-04e870b6a675>:1: DeprecationWarning: find_element_by_* commands are deprecated. Please use find_element() instead
  data = driver.find_element_by_xpath('//*[@id="salaries"]/main/section[1]/div[2]/div[1]/span/div/div/div[1]/div/div/p')

In [6]:
name = []
record = []
min_sal = []
max_sal = []
avg_sal = []
experience = []

In [7]:
name_tag = driver.find_elements_by_xpath ("//div[@class='name']/a")
for i in name_tag:
    nam = i.text
    name.append(nam)
name

<ipython-input-7-b698dab3b636>:1: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  name_tag = driver.find_elements_by_xpath ("//div[@class='name']/a")

['Ab Inbev',
 'ZS',
 'Optum',
 'Fractal Analytics',
 'UnitedHealth',
 'Tiger Analytics',
 'Verizon',
 'Ganit Business Solutions',
 'Ericsson',
 'Deloitte']

In [8]:
record_t = driver.find_elements_by_xpath("//div[@class='name']/span")
for i in record_t:
    rec = i.text
    record.append(rec)
record

<ipython-input-8-d7ae24f5aa80>:1: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  record_t = driver.find_elements_by_xpath("//div[@class='name']/span")

['based on 20 salaries',
 'based on 12 salaries',
 'based on 23 salaries',
 'based on 66 salaries',
 'based on 47 salaries',
 'based on 26 salaries',
 'based on 14 salaries',
 'based on 13 salaries',
 'based on 42 salaries',
 'based on 49 salaries']

In [9]:
minsal = driver.find_elements_by_xpath ("//div[@class='salary-values']/div")
for i in minsal:
    sal = i.text
    min_sal.append(sal)
min_sal

<ipython-input-9-01bc2174afa4>:1: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  minsal = driver.find_elements_by_xpath ("//div[@class='salary-values']/div")

['₹ 15.0L',
 '₹ 23.0L',
 '₹ 9.8L',
 '₹ 19.5L',
 '₹ 11.0L',
 '₹ 21.3L',
 '₹ 9.5L',
 '₹ 22.0L',
 '₹ 7.2L',
 '₹ 20.5L',
 '₹ 8.3L',
 '₹ 18.5L',
 '₹ 10.0L',
 '₹ 21.0L',
 '₹ 8.5L',
 '₹ 15.0L',
 '₹ 5.2L',
 '₹ 21.5L',
 '₹ 6.8L',
 '₹ 20.5L']

In [10]:
max_sal = min_sal[1:22:2]
max_sal

['₹ 23.0L',
 '₹ 19.5L',
 '₹ 21.3L',
 '₹ 22.0L',
 '₹ 20.5L',
 '₹ 18.5L',
 '₹ 21.0L',
 '₹ 15.0L',
 '₹ 21.5L',
 '₹ 20.5L']

In [11]:
min_sal = min_sal [0:22:2]
min_sal

['₹ 15.0L',
 '₹ 9.8L',
 '₹ 11.0L',
 '₹ 9.5L',
 '₹ 7.2L',
 '₹ 8.3L',
 '₹ 10.0L',
 '₹ 8.5L',
 '₹ 5.2L',
 '₹ 6.8L']

In [12]:
avgsal = driver.find_elements_by_xpath ("//p[@class='averageCtc']")
for i in avgsal:
    sal = i.text
    avg_sal.append(sal)
avg_sal

<ipython-input-12-3b6f2c0412bc>:1: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  avgsal = driver.find_elements_by_xpath ("//p[@class='averageCtc']")

['₹ 19.0L',
 '₹ 15.3L',
 '₹ 15.0L',
 '₹ 15.0L',
 '₹ 13.5L',
 '₹ 13.5L',
 '₹ 12.7L',
 '₹ 12.4L',
 '₹ 11.7L',
 '₹ 11.2L']

In [13]:
exp = driver.find_elements_by_xpath ("//div[@class='salaries sbold-list-header']")
for i in exp:
    ex = i.text
    experience.append(ex)
experience

<ipython-input-13-568444bcbc7f>:1: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  exp = driver.find_elements_by_xpath ("//div[@class='salaries sbold-list-header']")

['Data Scientist\n . \n3-4 yrs exp',
 'Data Scientist\n . \n2 yrs exp',
 'Data Scientist\n . \n3-4 yrs exp',
 'Data Scientist\n . \n2-4 yrs exp',
 'Data Scientist\n . \n2-4 yrs exp',
 'Data Scientist\n . \n3-4 yrs exp',
 'Data Scientist\n . \n4 yrs exp',
 'Data Scientist\n . \n4 yrs exp',
 'Data Scientist\n . \n3-4 yrs exp',
 'Data Scientist\n . \n2-4 yrs exp']

In [51]:
experience = ['3-4 yrs exp','2 yrs exp','3-4 yrs exp','2-4 yrs exp','2-4 yrs exp','3-4 yrs exp','4 yrs exp','4 yrs exp','3-4 yrs exp','2-4 yrs exp']
experience

['3-4 yrs exp',
 '2 yrs exp',
 '3-4 yrs exp',
 '2-4 yrs exp',
 '2-4 yrs exp',
 '3-4 yrs exp',
 '4 yrs exp',
 '4 yrs exp',
 '3-4 yrs exp',
 '2-4 yrs exp']

In [52]:
print (len(name),len(record),len(min_sal),len(max_sal),len(avg_sal),len(experience))

10 10 10 10 10 10

In [54]:
df = pd.DataFrame({'Company Name':name,'Total Salary Record':record,'Minimum Salary':min_sal,'Maximum Salary':max_sal,'Average Salary':avg_sal,'Experience Required':experience})
df

,Company Name,Total Salary Record,Minimum Salary,Maximum Salary,Average Salary,Experience Required
0,Ab Inbev,based on 20 salaries,₹ 15.0L,₹ 23.0L,₹ 19.0L,3-4 yrs exp
1,ZS,based on 12 salaries,₹ 9.8L,₹ 19.5L,₹ 15.3L,2 yrs exp
2,Optum,based on 23 salaries,₹ 11.0L,₹ 21.3L,₹ 15.0L,3-4 yrs exp
3,Fractal Analytics,based on 66 salaries,₹ 9.5L,₹ 22.0L,₹ 15.0L,2-4 yrs exp
4,UnitedHealth,based on 47 salaries,₹ 7.2L,₹ 20.5L,₹ 13.5L,2-4 yrs exp
5,Tiger Analytics,based on 26 salaries,₹ 8.3L,₹ 18.5L,₹ 13.5L,3-4 yrs exp
6,Verizon,based on 14 salaries,₹ 10.0L,₹ 21.0L,₹ 12.7L,4 yrs exp
7,Ganit Business Solutions,based on 13 salaries,₹ 8.5L,₹ 15.0L,₹ 12.4L,4 yrs exp
8,Ericsson,based on 42 salaries,₹ 5.2L,₹ 21.5L,₹ 11.7L,3-4 yrs exp
9,Deloitte,based on 49 salaries,₹ 6.8L,₹ 20.5L,₹ 11.2L,2-4 yrs exp

In [55]:
driver.close()