Q1: Write a python program to scrape data for “Data Analyst” Job position in “Bangalore” location. You
have to scrape the job-title, job-location, company_name, experience_required. You have to scrape first 10
jobs data.

In [ ]:
!pip install selenium

In [1]:
import pandas as pd
import selenium
from selenium import webdriver

In [14]:
driver = webdriver.Chrome(r"C:/Users/Lenovo/Desktop/DS/chromedriver.exe")

<ipython-input-14-5c577cedf7db>:1: DeprecationWarning: executable_path has been deprecated, please pass in a Service object
  driver = webdriver.Chrome(r"C:/Users/Lenovo/Desktop/DS/chromedriver.exe")

In [15]:
driver.get ('https://www.naukri.com/')

In [16]:
search_job = driver.find_element_by_id("qsb-keyword-sugg")
search_job.send_keys ('Data Analyst')
search_loc = driver.find_element_by_id ("qsb-location-sugg")
search_loc.send_keys ('Bangalore')

<ipython-input-16-227d0f957e60>:1: DeprecationWarning: find_element_by_* commands are deprecated. Please use find_element() instead
  search_job = driver.find_element_by_id("qsb-keyword-sugg")
<ipython-input-16-227d0f957e60>:3: DeprecationWarning: find_element_by_* commands are deprecated. Please use find_element() instead
  search_loc = driver.find_element_by_id ("qsb-location-sugg")

In [17]:
search_btn = driver.find_element_by_xpath('//div[@class="search-btn"]/button')
search_btn.click()

<ipython-input-17-b0c1d6bbe1c4>:1: DeprecationWarning: find_element_by_* commands are deprecated. Please use find_element() instead
  search_btn = driver.find_element_by_xpath('//div[@class="search-btn"]/button')

In [18]:
job_title = []
company_name = []
location = []
experience = []

In [19]:
title = driver.find_elements_by_xpath ("//a[@class='title fw500 ellipsis']")
for i in title:
    tit = i.text
    job_title.append(tit)
job_title

<ipython-input-19-64257ae34229>:1: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  title = driver.find_elements_by_xpath ("//a[@class='title fw500 ellipsis']")

['Hiring -Data Analyst, Business Analyst, MIS Analyst -3rd Party Payroll',
 'Business Analyst/ Data Analyst- Capital Market & SQL (Mandatory)',
 'Data Analyst',
 'Data Analyst',
 'Senior Data Analyst',
 'Senior Data Analyst for HANA Platform',
 'Data Analyst',
 'Assistant/deputy Manager - Geo-spatial Data Analyst',
 'Data Analyst',
 'DG - Business Analyst - Data Visualization & Analytics',
 'Hiring Business Data Analyst +ETL- Tech Mahindra, Bangalore',
 'Senior Data Analyst',
 'Senior Data Analyst',
 'Senior Data Analyst',
 'Job Opportunity For Clinical Data Analyst - CDM',
 'Data Analyst',
 'Data Analyst',
 'Data Analyst',
 'Data Analyst (On Contract)',
 'Manager - Data Analyst']

In [20]:
company = driver.find_elements_by_xpath ("//a[@class='subTitle ellipsis fleft']")
for i in company:
    comp = i.text
    company_name.append(comp)
company_name

<ipython-input-20-e429b7154cdd>:1: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  company = driver.find_elements_by_xpath ("//a[@class='subTitle ellipsis fleft']")

['Flipkart',
 'Genpact',
 'Schneider Electric',
 'GlaxoSmithKline Pharmaceuticals Limited',
 'Flipkart',
 'Intel',
 'NetraDyne Technology India Private Limited',
 'Maruti Suzuki India',
 'Slice',
 'ExecBoardinAsia',
 'Tech Mahindra',
 'Rapido',
 'SYREN TECHNOLOGIES PRIVATE LIMITED',
 'Flipkart',
 'Paradigm IT',
 'Atlassian',
 'SWAI TECHNOLOGIES PRIVATE LIMITED',
 'ExecBoardinAsia',
 'Rupeek Fintech Pvt Ltd',
 'Genpact']

In [21]:
locat = driver.find_elements_by_xpath ("//li[@class= 'fleft grey-text br2 placeHolderLi location']/span[1]")
for i in locat:
    lo = i.text
    location.append(lo)
location

<ipython-input-21-af6ac7c4bdae>:1: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  locat = driver.find_elements_by_xpath ("//li[@class= 'fleft grey-text br2 placeHolderLi location']/span[1]")

['Bangalore/Bengaluru',
 'Pune, Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Gurgaon/Gurugram, bangalore',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Kolkata, Hyderabad/Secunderabad, Pune, Ahmedabad, Chennai, Bangalore/Bengaluru, Delhi / NCR, Mumbai (All Areas)',
 'Bengaluru/Bangalore',
 'Kolkata, Hyderabad/Secunderabad, Pune, Chennai, Bangalore/Bengaluru, Delhi / NCR, Mumbai (All Areas)',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru']

In [22]:
exper = driver.find_elements_by_xpath ("//li[@class='fleft grey-text br2 placeHolderLi experience']/span[1]")
for i in exper:
    ex = i.text
    experience.append(ex)
experience

<ipython-input-22-38d6f52fac51>:1: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  exper = driver.find_elements_by_xpath ("//li[@class='fleft grey-text br2 placeHolderLi experience']/span[1]")

['1-6 Yrs',
 '7-12 Yrs',
 '2-5 Yrs',
 '3-8 Yrs',
 '3-7 Yrs',
 '5-10 Yrs',
 '2-5 Yrs',
 '3-5 Yrs',
 '0-2 Yrs',
 '5-10 Yrs',
 '6-10 Yrs',
 '1-6 Yrs',
 '5-10 Yrs',
 '4-5 Yrs',
 '3-8 Yrs',
 '3-6 Yrs',
 '3-7 Yrs',
 '5-10 Yrs',
 '0-2 Yrs',
 '5-10 Yrs']

In [23]:
print (len (job_title),len(company_name),len (location), len (experience))

20 20 20 20

In [24]:
jobs = pd.DataFrame ({'Job Title':job_title[:10],'Company Name':company_name[:10],'Location':location[:10],'Experience Required':experience[:10]})
jobs

,Job Title,Company Name,Location,Experience Required
0,"Hiring -Data Analyst, Business Analyst, MIS An...",Flipkart,Bangalore/Bengaluru,1-6 Yrs
1,Business Analyst/ Data Analyst- Capital Market...,Genpact,"Pune, Bangalore/Bengaluru",7-12 Yrs
2,Data Analyst,Schneider Electric,Bangalore/Bengaluru,2-5 Yrs
3,Data Analyst,GlaxoSmithKline Pharmaceuticals Limited,Bangalore/Bengaluru,3-8 Yrs
4,Senior Data Analyst,Flipkart,Bangalore/Bengaluru,3-7 Yrs
5,Senior Data Analyst for HANA Platform,Intel,Bangalore/Bengaluru,5-10 Yrs
6,Data Analyst,NetraDyne Technology India Private Limited,Bangalore/Bengaluru,2-5 Yrs
7,Assistant/deputy Manager - Geo-spatial Data An...,Maruti Suzuki India,"Gurgaon/Gurugram, bangalore",3-5 Yrs
8,Data Analyst,Slice,Bangalore/Bengaluru,0-2 Yrs
9,DG - Business Analyst - Data Visualization & A...,ExecBoardinAsia,Bangalore/Bengaluru,5-10 Yrs

In [25]:
driver.close()

In [26]:
!pip install nbmerge

Collecting nbmerge
  Downloading nbmerge-0.0.4.tar.gz (7.6 kB)
Building wheels for collected packages: nbmerge
  Building wheel for nbmerge (setup.py): started
  Building wheel for nbmerge (setup.py): finished with status 'done'
  Created wheel for nbmerge: filename=nbmerge-0.0.4-py2.py3-none-any.whl size=6406 sha256=fcf7b28d34a4eba6435a42b08e01bc69d511c92205d5ee1dafb03cb9b7e30036
  Stored in directory: c:\users\lenovo\appdata\local\pip\cache\wheels\2d\3c\a9\8753a8ef327aca9c908d4f150628b87b548e1659ecc5fe1b54
Successfully built nbmerge
Installing collected packages: nbmerge
Successfully installed nbmerge-0.0.4