Q3:In this question you have to scrape data using the filters available on the webpage as shown below:
- You have to use the location and salary filter.
- You have to scrape data for “Data Scientist” designation for first 10 job results.
- You have to scrape the job-title, job-location, company name, experience required.
- The location filter to be used is “Delhi/NCR” The salary filter to be used is “3-6” lakhs

In [1]:
import selenium
import pandas as pd
from selenium import webdriver

In [2]:
driver = webdriver.Chrome (r"C:/Users/Lenovo/Desktop/DS/chromedriver.exe")
driver.get ('https://www.naukri.com/')

<ipython-input-2-9cc9038b5cc3>:1: DeprecationWarning: executable_path has been deprecated, please pass in a Service object
  driver = webdriver.Chrome (r"C:/Users/Lenovo/Desktop/DS/chromedriver.exe")

In [3]:
search_job = driver.find_element_by_id("qsb-keyword-sugg")
search_job.send_keys ('Data Scientist')

<ipython-input-3-50cfea99ac90>:1: DeprecationWarning: find_element_by_* commands are deprecated. Please use find_element() instead
  search_job = driver.find_element_by_id("qsb-keyword-sugg")

In [4]:
search_btn = driver.find_element_by_xpath('//div[@class="search-btn"]/button')
search_btn.click()

<ipython-input-4-b0c1d6bbe1c4>:1: DeprecationWarning: find_element_by_* commands are deprecated. Please use find_element() instead
  search_btn = driver.find_element_by_xpath('//div[@class="search-btn"]/button')

In [5]:
locat = driver.find_element_by_xpath ("/html/body/div[1]/div[3]/div[2]/section[1]/div[2]/div[3]/div[2]/div[3]/label/p/span[1]")
locat.click()

<ipython-input-5-ac343abc9047>:1: DeprecationWarning: find_element_by_* commands are deprecated. Please use find_element() instead
  locat = driver.find_element_by_xpath ("/html/body/div[1]/div[3]/div[2]/section[1]/div[2]/div[3]/div[2]/div[3]/label/p/span[1]")

In [6]:
salary = driver.find_element_by_xpath ('/html/body/div[1]/div[3]/div[2]/section[1]/div[2]/div[4]/div[2]/div[2]/label/p/span[1]')
salary.click()

<ipython-input-6-d61419195119>:1: DeprecationWarning: find_element_by_* commands are deprecated. Please use find_element() instead
  salary = driver.find_element_by_xpath ('/html/body/div[1]/div[3]/div[2]/section[1]/div[2]/div[4]/div[2]/div[2]/label/p/span[1]')

In [7]:
job_title = []
location = []
company = []
experience = []

In [8]:
title = driver.find_elements_by_xpath ("//a[@class='title fw500 ellipsis']")
for i in title:
    tit = i.text
    job_title.append(tit)
job_title [:10]

<ipython-input-8-6c4c2e5bc12c>:1: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  title = driver.find_elements_by_xpath ("//a[@class='title fw500 ellipsis']")

['Data Scientist',
 'Data Scientist',
 'Hiring For Data Scientist',
 'Project Manager | Team Leader | Senior Data Scientist',
 'Data Scientist',
 'NTT DATA_ Hiring For BIG DATA ,DATA Scientist, Devops',
 'Hiring For Data Analyst / Data Scientist',
 'Data Scientist Internship',
 'Data Scientist',
 'Data Scientist']

In [9]:
locat = driver.find_elements_by_xpath ("//li[@class= 'fleft grey-text br2 placeHolderLi location']/span[1]")
for i in locat:
    lo = i.text
    location.append(lo)
location [:10]

<ipython-input-9-27633287a4ec>:1: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  locat = driver.find_elements_by_xpath ("//li[@class= 'fleft grey-text br2 placeHolderLi location']/span[1]")

['Noida, New Delhi, Faridabad, Gurgaon/Gurugram, Delhi / NCR',
 'Noida, Nodia',
 'Hyderabad/Secunderabad, Pune, Chennai, Bangalore/Bengaluru, Delhi / NCR, Mumbai (All Areas)',
 'Remote',
 'Gurgaon/Gurugram, Chennai',
 'Noida, Kolkata, Hyderabad/Secunderabad, Ahmedabad, Chennai, Coimbatore, Bangalore/Bengaluru, Delhi / NCR, Mumbai (All Areas)',
 'Noida(Sector-59 Noida)',
 'New Delhi',
 'Gurgaon/Gurugram',
 'Gurgaon/Gurugram']

In [10]:
comp = driver.find_elements_by_xpath ("//a[@class='subTitle ellipsis fleft']")
for i in comp:
    com = i.text
    company.append(com)
company [:10]

<ipython-input-10-05d91f6bf1ae>:1: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  comp = driver.find_elements_by_xpath ("//a[@class='subTitle ellipsis fleft']")

['LG Electronics India Pvt. Ltd.',
 'Navikenz India Pvt Ltd',
 'Tata Consultancy Services Ltd.',
 'Tidyquant (OPC) Private Limited',
 'Teleperformance',
 'NTT Data Business Solutions Pvt Ltd',
 'Careerera',
 'iHackers Inc',
 'Whizhack Technologies pvt ltd',
 'One Mobikwik Systems Private Limited']

In [11]:
exper = driver.find_elements_by_xpath ("//li[@class='fleft grey-text br2 placeHolderLi experience']/span[1]")
for i in exper:
    ex = i.text
    experience.append(ex)
experience [:10]

<ipython-input-11-7614b4b6d5b9>:1: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  exper = driver.find_elements_by_xpath ("//li[@class='fleft grey-text br2 placeHolderLi experience']/span[1]")

['0-2 Yrs',
 '2-7 Yrs',
 '4-9 Yrs',
 '1-5 Yrs',
 '4-9 Yrs',
 '3-8 Yrs',
 '1-3 Yrs',
 '0-1 Yrs',
 '2-5 Yrs',
 '2-5 Yrs']

In [13]:
print (len (job_title),len (location), len (company), len(experience))

20 20 20 20

In [14]:
jobs = pd.DataFrame ({'Job Title':job_title[:10],'Job Location':location[:10],'Company Name':company[:10],'Experience Required': experience[:10]})
jobs

,Job Title,Job Location,Company Name,Experience Required
0,Data Scientist,"Noida, New Delhi, Faridabad, Gurgaon/Gurugram,...",LG Electronics India Pvt. Ltd.,0-2 Yrs
1,Data Scientist,"Noida, Nodia",Navikenz India Pvt Ltd,2-7 Yrs
2,Hiring For Data Scientist,"Hyderabad/Secunderabad, Pune, Chennai, Bangalo...",Tata Consultancy Services Ltd.,4-9 Yrs
3,Project Manager | Team Leader | Senior Data Sc...,Remote,Tidyquant (OPC) Private Limited,1-5 Yrs
4,Data Scientist,"Gurgaon/Gurugram, Chennai",Teleperformance,4-9 Yrs
5,"NTT DATA_ Hiring For BIG DATA ,DATA Scientist,...","Noida, Kolkata, Hyderabad/Secunderabad, Ahmeda...",NTT Data Business Solutions Pvt Ltd,3-8 Yrs
6,Hiring For Data Analyst / Data Scientist,Noida(Sector-59 Noida),Careerera,1-3 Yrs
7,Data Scientist Internship,New Delhi,iHackers Inc,0-1 Yrs
8,Data Scientist,Gurgaon/Gurugram,Whizhack Technologies pvt ltd,2-5 Yrs
9,Data Scientist,Gurgaon/Gurugram,One Mobikwik Systems Private Limited,2-5 Yrs

In [15]:
driver.close()