1. Scrape the details of most viewed videos on YouTube from Wikipedia.
Url = https://en.wikipedia.org/wiki/List_of_most-viewed_YouTube_videos
You need to find following details:
    - A) Rank
    - B) Name
    - C) Artist
    - D) Upload date
    - E) Views

In [2]:
import pandas as pd
import selenium
from selenium import webdriver
import time
from selenium.common.exceptions import NoSuchElementException

import warnings
warnings.filterwarnings('ignore')

In [219]:
driver = webdriver.Chrome(r"C:/Users/Lenovo/Desktop/DS/chromedriver.exe")
driver.get ('https://en.wikipedia.org/wiki/List_of_most-viewed_YouTube_videos')

In [221]:
names = []
namesd = driver.find_elements_by_xpath("//table[@class='wikitable sortable jquery-tablesorter'][1]/tbody/tr/td[1]")
for i in namesd:
    nam = i.text
    names.append(nam)
names

['1.',
 '2.',
 '3.',
 '4.',
 '5.',
 '6.',
 '7.',
 '8.',
 '9.',
 '10.',
 '11.',
 '12.',
 '13.',
 '14.',
 '15.',
 '16.',
 '17.',
 '18.',
 '19.',
 '20.',
 '21.',
 '22.',
 '23.',
 '24.',
 '25.',
 '26.',
 '27.',
 '28.',
 '29.',
 '30.']

In [222]:
hit = []
taken = driver.find_elements_by_xpath("//table[@class='wikitable sortable jquery-tablesorter'][1]/tbody/tr/td[2]")
for i in taken:
    tak = i.text
    hit.append(tak)
    
art = []
namesd = driver.find_elements_by_xpath("//table[@class='wikitable sortable jquery-tablesorter'][1]/tbody/tr/td[3]")
for i in namesd:
    nam = i.text
    art.append(nam)
    
upler = []
namesd = driver.find_elements_by_xpath("//table[@class='wikitable sortable jquery-tablesorter'][1]/tbody/tr/td[5]")
for i in namesd:
    nam = i.text
    upler.append(nam)
    
seen = []
namesd = driver.find_elements_by_xpath("//table[@class='wikitable sortable jquery-tablesorter'][1]/tbody/tr/td[4]")
for i in namesd:
    nam = i.text
    seen.append(nam)

In [223]:
wiki_df = pd.DataFrame({'Rank':names,'Name':hit,'Artist':art,'Uploaded date':upler,'Views':seen})

In [224]:
wiki_df

,Rank,Name,Artist,Uploaded date,Views
0,1.,"""Baby Shark Dance""[3]",Pinkfong Baby Shark - Kids' Songs & Stories,"June 17, 2016",9.98
1,2.,"""Despacito""[5]",Luis Fonsi,"January 12, 2017",7.70
2,3.,"""Johny Johny Yes Papa""[11]",LooLoo Kids,"October 8, 2016",6.09
3,4.,"""Shape of You""[12]",Ed Sheeran,"January 30, 2017",5.58
4,5.,"""See You Again""[14]",Wiz Khalifa,"April 6, 2015",5.38
5,6.,"""Bath Song""[19]",Cocomelon – Nursery Rhymes,"May 2, 2018",4.84
6,7.,"""Learning Colors – Colorful Eggs on a Farm""[20]",Miroshka TV,"February 27, 2018",4.55
7,8.,"""Masha and the Bear – Recipe for Disaster""[21]",Get Movies,"January 31, 2012",4.48
8,9.,"""Uptown Funk""[22]",Mark Ronson,"November 19, 2014",4.42
9,10.,"""Phonics Song with Two Words""[23]",ChuChu TV,"March 6, 2014",4.40
10,11.,"""Gangnam Style""[24]",Psy,"July 15, 2012",4.30
11,12.,"""Dame Tu Cosita""[29]",El Chombo,"April 5, 2018",3.79
12,13.,"""Sugar""[30]",Maroon 5,"January 14, 2015",3.62
13,14.,"""Sorry""[31]",Justin Bieber,"October 22, 2015",3.50
14,15.,"""Roar""[32]",Katy Perry,"September 5, 2013",3.50
15,16.,"""Wheels on the Bus""[33]",Cocomelon – Nursery Rhymes,"May 24, 2018",3.48
16,17.,"""Counting Stars""[34]",OneRepublic,"May 31, 2013",3.48
17,18.,"""Thinking Out Loud""[35]",Ed Sheeran,"October 7, 2014",3.39
18,19.,"""Girls Like You""[36]",Maroon 5,"May 31, 2018",3.21
19,20.,"""Faded""[37]",Alan Walker,"December 3, 2015",3.21
20,21.,"""Dark Horse""[38]",Katy Perry,"February 20, 2014",3.20
21,22.,"""Axel F""[39]",Crazy Frog,"June 16, 2009",3.17
22,23.,"""Let Her Go""[40]",Passenger,"July 25, 2012",3.15
23,24.,"""Bailando""[41]",Enrique Iglesias,"April 11, 2014",3.15
24,25.,"""Lean On""[42]",Major Lazer,"March 22, 2015",3.15
25,26.,"""Shake It Off""[43]",Taylor Swift,"August 18, 2014",3.13
26,27.,"""Baa Baa Black Sheep""[44]",Cocomelon – Nursery Rhymes,"June 25, 2018",3.06
27,28.,"""Perfect""[45]",Ed Sheeran,"November 9, 2017",3.06
28,29.,"""Waka Waka (This Time for Africa)""[46]",Shakira,"June 4, 2010",3.03
29,30.,"""Mi Gente""[47]",J Balvin,"June 29, 2017",3.02

In [225]:
driver.close()

2. Scrape the details team India’s international fixtures from bcci.tv.
Url = https://www.bcci.tv/.
You need to find following details:
    - A) Match title (I.e. 1st ODI)
    - B) Series
    - C) Place
    - D) Date
    - E) Time
-Note: - From bcci.tv home page you have reach to the international fixture page through code.

In [42]:
driver = webdriver.Chrome(r"C:/Users/Lenovo/Desktop/DS/chromedriver.exe")
driver.get ('https://www.bcci.tv/')

In [43]:
butt = driver.find_element_by_xpath("/html/body/nav/div/div[2]/ul[1]/li[2]/a")
butt.click()

In [45]:
more = driver.find_element_by_xpath("//button[@class='match-btn btn-red d-flex align-items-center justify-content-center mx-auto mt-3']")
more.click()

In [47]:
more = driver.find_element_by_xpath("//button[@class='match-btn btn-red d-flex align-items-center justify-content-center mx-auto mt-3']")
more.click()

In [48]:
series = []
seried = driver.find_elements_by_xpath("//span[@class='ng-binding']")
for i in seried:
    seri = i.text
    series.append(seri)
series

['INDIA TOUR OF SOUTH AFRICA TEST SERIES 2021-22',
 'INDIA TOUR OF SOUTH AFRICA ODI SERIES 2021/22',
 'INDIA TOUR OF SOUTH AFRICA ODI SERIES 2021/22',
 'INDIA TOUR OF SOUTH AFRICA ODI SERIES 2021/22',
 'WEST INDIES TOUR OF INDIA ODI SERIES 2022',
 'WEST INDIES TOUR OF INDIA ODI SERIES 2022',
 'WEST INDIES TOUR OF INDIA ODI SERIES 2022',
 'WEST INDIES TOUR OF INDIA T20 SERIES 2022',
 'WEST INDIES TOUR OF INDIA T20 SERIES 2022',
 'WEST INDIES TOUR OF INDIA T20 SERIES 2022',
 'SRI LANKA TOUR OF INDIA TEST SERIES 2022',
 'SRI LANKA TOUR OF INDIA TEST SERIES 2022',
 'SRI LANKA TOUR OF INDIA T20 SERIES 2022',
 'SRI LANKA TOUR OF INDIA T20 SERIES 2022',
 'SRI LANKA TOUR OF INDIA T20 SERIES 2022',
 'SOUTH AFRICA TOUR OF INDIA T20 SERIES 2022',
 'SOUTH AFRICA TOUR OF INDIA T20 SERIES 2022',
 'SOUTH AFRICA TOUR OF INDIA T20 SERIES 2022',
 'SOUTH AFRICA TOUR OF INDIA T20 SERIES 2022',
 'SOUTH AFRICA TOUR OF INDIA T20 SERIES 2022']

In [49]:
date = []
dated = driver.find_elements_by_xpath("//h5[@class='ng-binding']")
for i in dated:
    dat = i.text
    date.append(dat)
date

['11 JAN 2022',
 '19 JAN 2022',
 '21 JAN 2022',
 '23 JAN 2022',
 '6 FEB 2022',
 '9 FEB 2022',
 '12 FEB 2022',
 '15 FEB 2022',
 '18 FEB 2022',
 '20 FEB 2022',
 '25 FEB 2022',
 '5 MAR 2022',
 '13 MAR 2022',
 '15 MAR 2022',
 '18 MAR 2022',
 '9 JUN 2022',
 '12 JUN 2022',
 '14 JUN 2022',
 '17 JUN 2022',
 '19 JUN 2022']

In [50]:
time = []
timed = driver.find_elements_by_xpath("//h5[@class='text-right ng-binding']")
for i in timed:
    tim = i.text
    time.append(tim)
time

['2:00 PM IST',
 '2:00 PM IST',
 '2:00 PM IST',
 '2:00 PM IST',
 '9:30 AM IST',
 '9:30 AM IST',
 '9:30 AM IST',
 '7:30 PM IST',
 '7:30 PM IST',
 '7:30 PM IST',
 '9:30 AM IST',
 '9:30 AM IST',
 '7:30 PM IST',
 '7:30 PM IST',
 '7:30 PM IST',
 '7:30 PM IST',
 '7:30 PM IST',
 '7:30 PM IST',
 '7:30 PM IST',
 '7:30 PM IST']

In [51]:
title = []
titled = driver.find_elements_by_xpath("//div[@class='fix-place ng-binding ng-scope']")
for i in titled:
    tit = i.text
    title.append(tit)
title

['3rd Test - Newlands, Cape Town',
 '1st ODI - Boland Park, Paarl',
 '2nd ODI - Boland Park, Paarl',
 '3rd ODI - Newlands, Cape Town',
 '1st ODI - NARENDRA MODI STADIUM, Ahmedabad',
 '2nd ODI - Sawai Mansingh Stadium, Jaipur',
 '3rd ODI - Eden Gardens, Kolkata',
 '1st T20 - Barabati Stadium, Cuttack',
 '2nd T20 - Dr YS Rajasekhara Reddy ACA-VDCA Cricket Stadium, Visakhapatnam',
 '3rd T20 - Greenfield International Stadium, Thiruvananthapuram',
 '1st Test - M Chinnaswamy Stadium, Bengaluru',
 '2nd Test - Punjab Cricket Association IS Bindra Stadium, Mohali',
 '1st T20 - Punjab Cricket Association IS Bindra Stadium, Mohali',
 '2nd T20 - Himachal Pradesh Cricket Association Stadium, Dharamsala',
 '3rd T20 - Bharat Ratna Shri Atal Bihari Vajpayee Ekana Cricket Stadium, Lucknow',
 '1st T20 - MA Chidambaram Stadium, Chennai',
 '2nd T20 - M Chinnaswamy Stadium, Bengaluru',
 '3rd T20 - Vidarbha Cricket Association Stadium, Nagpur',
 '4th T20 - Saurashtra Cricket Association Stadium, Rajkot',
 '5th T20 - Arun Jaitley Stadium, Delhi']

In [52]:
titl = [i.split('-')[0] for i in title]
titl

['3rd Test ',
 '1st ODI ',
 '2nd ODI ',
 '3rd ODI ',
 '1st ODI ',
 '2nd ODI ',
 '3rd ODI ',
 '1st T20 ',
 '2nd T20 ',
 '3rd T20 ',
 '1st Test ',
 '2nd Test ',
 '1st T20 ',
 '2nd T20 ',
 '3rd T20 ',
 '1st T20 ',
 '2nd T20 ',
 '3rd T20 ',
 '4th T20 ',
 '5th T20 ']

In [53]:
place = [i.split('-')[1] for i in title]
place

[' Newlands, Cape Town',
 ' Boland Park, Paarl',
 ' Boland Park, Paarl',
 ' Newlands, Cape Town',
 ' NARENDRA MODI STADIUM, Ahmedabad',
 ' Sawai Mansingh Stadium, Jaipur',
 ' Eden Gardens, Kolkata',
 ' Barabati Stadium, Cuttack',
 ' Dr YS Rajasekhara Reddy ACA',
 ' Greenfield International Stadium, Thiruvananthapuram',
 ' M Chinnaswamy Stadium, Bengaluru',
 ' Punjab Cricket Association IS Bindra Stadium, Mohali',
 ' Punjab Cricket Association IS Bindra Stadium, Mohali',
 ' Himachal Pradesh Cricket Association Stadium, Dharamsala',
 ' Bharat Ratna Shri Atal Bihari Vajpayee Ekana Cricket Stadium, Lucknow',
 ' MA Chidambaram Stadium, Chennai',
 ' M Chinnaswamy Stadium, Bengaluru',
 ' Vidarbha Cricket Association Stadium, Nagpur',
 ' Saurashtra Cricket Association Stadium, Rajkot',
 ' Arun Jaitley Stadium, Delhi']

In [54]:
df = pd.DataFrame({'Match Title':titl,'Series':series,'Place':place,'Date':date,'Time':time})
df

,Match Title,Series,Place,Date,Time
0,3rd Test,INDIA TOUR OF SOUTH AFRICA TEST SERIES 2021-22,"Newlands, Cape Town",11 JAN 2022,2:00 PM IST
1,1st ODI,INDIA TOUR OF SOUTH AFRICA ODI SERIES 2021/22,"Boland Park, Paarl",19 JAN 2022,2:00 PM IST
2,2nd ODI,INDIA TOUR OF SOUTH AFRICA ODI SERIES 2021/22,"Boland Park, Paarl",21 JAN 2022,2:00 PM IST
3,3rd ODI,INDIA TOUR OF SOUTH AFRICA ODI SERIES 2021/22,"Newlands, Cape Town",23 JAN 2022,2:00 PM IST
4,1st ODI,WEST INDIES TOUR OF INDIA ODI SERIES 2022,"NARENDRA MODI STADIUM, Ahmedabad",6 FEB 2022,9:30 AM IST
5,2nd ODI,WEST INDIES TOUR OF INDIA ODI SERIES 2022,"Sawai Mansingh Stadium, Jaipur",9 FEB 2022,9:30 AM IST
6,3rd ODI,WEST INDIES TOUR OF INDIA ODI SERIES 2022,"Eden Gardens, Kolkata",12 FEB 2022,9:30 AM IST
7,1st T20,WEST INDIES TOUR OF INDIA T20 SERIES 2022,"Barabati Stadium, Cuttack",15 FEB 2022,7:30 PM IST
8,2nd T20,WEST INDIES TOUR OF INDIA T20 SERIES 2022,Dr YS Rajasekhara Reddy ACA,18 FEB 2022,7:30 PM IST
9,3rd T20,WEST INDIES TOUR OF INDIA T20 SERIES 2022,"Greenfield International Stadium, Thiruvanant...",20 FEB 2022,7:30 PM IST
10,1st Test,SRI LANKA TOUR OF INDIA TEST SERIES 2022,"M Chinnaswamy Stadium, Bengaluru",25 FEB 2022,9:30 AM IST
11,2nd Test,SRI LANKA TOUR OF INDIA TEST SERIES 2022,"Punjab Cricket Association IS Bindra Stadium,...",5 MAR 2022,9:30 AM IST
12,1st T20,SRI LANKA TOUR OF INDIA T20 SERIES 2022,"Punjab Cricket Association IS Bindra Stadium,...",13 MAR 2022,7:30 PM IST
13,2nd T20,SRI LANKA TOUR OF INDIA T20 SERIES 2022,"Himachal Pradesh Cricket Association Stadium,...",15 MAR 2022,7:30 PM IST
14,3rd T20,SRI LANKA TOUR OF INDIA T20 SERIES 2022,Bharat Ratna Shri Atal Bihari Vajpayee Ekana ...,18 MAR 2022,7:30 PM IST
15,1st T20,SOUTH AFRICA TOUR OF INDIA T20 SERIES 2022,"MA Chidambaram Stadium, Chennai",9 JUN 2022,7:30 PM IST
16,2nd T20,SOUTH AFRICA TOUR OF INDIA T20 SERIES 2022,"M Chinnaswamy Stadium, Bengaluru",12 JUN 2022,7:30 PM IST
17,3rd T20,SOUTH AFRICA TOUR OF INDIA T20 SERIES 2022,"Vidarbha Cricket Association Stadium, Nagpur",14 JUN 2022,7:30 PM IST
18,4th T20,SOUTH AFRICA TOUR OF INDIA T20 SERIES 2022,"Saurashtra Cricket Association Stadium, Rajkot",17 JUN 2022,7:30 PM IST
19,5th T20,SOUTH AFRICA TOUR OF INDIA T20 SERIES 2022,"Arun Jaitley Stadium, Delhi",19 JUN 2022,7:30 PM IST

In [55]:
driver.close()

3. Scrape the details of selenium exception from guru99.com. Url = https://www.guru99.com/ .You need to find following details:
    - A) Name
    - B) Description
-Note: - From guru99 home page you have to reach to selenium exception handling page through code.

In [208]:
driver = webdriver.Chrome(r"C:/Users/Lenovo/Desktop/DS/chromedriver.exe")
driver.get ('https://www.guru99.com/')

In [209]:
butt = driver.find_element_by_xpath("/html/body/footer/div/div[1]/div/div/div/div/div/div/section/div/div/div[2]/div/div/div/div/div[2]/div/div/div[2]/div/div[2]/div/div/div[3]/div/div/div[2]/div/div/a/div[2]/h5")
butt.click()

In [210]:
excep = driver.find_element_by_xpath("/html/body/div[1]/div/div/div/main/div/article/div/div/table[5]/tbody/tr[34]/td[1]/a/strong")
excep.click()

In [212]:
title = []
titled = driver.find_elements_by_xpath("//table[@class='table table-striped']/tbody/tr/td[1]")
for i in titled:
    titl = i.text
    title.append(titl)
title

['ElementNotVisibleException',
 'ElementNotSelectableException',
 'NoSuchElementException',
 'NoSuchFrameException',
 'NoAlertPresentException',
 'NoSuchWindowException',
 'StaleElementReferenceException',
 'SessionNotFoundException',
 'TimeoutException',
 'WebDriverException',
 'ConnectionClosedException',
 'ElementClickInterceptedException',
 'ElementNotInteractableException',
 'ErrorInResponseException',
 'ErrorHandler.UnknownServerException',
 'ImeActivationFailedException',
 'ImeNotAvailableException',
 'InsecureCertificateException',
 'InvalidArgumentException',
 'InvalidCookieDomainException',
 'InvalidCoordinatesException',
 'InvalidElementStateExceptio',
 'InvalidSessionIdException',
 'InvalidSwitchToTargetException',
 'JavascriptException',
 'JsonException',
 'NoSuchAttributeException',
 'MoveTargetOutOfBoundsException',
 'NoSuchContextException',
 'NoSuchCookieException',
 'NotFoundException',
 'RemoteDriverServerException',
 'ScreenshotException',
 'SessionNotCreatedException',
 'UnableToSetCookieException',
 'UnexpectedTagNameException',
 'UnhandledAlertException',
 'UnexpectedAlertPresentException',
 'UnknownMethodException',
 'UnreachableBrowserException',
 'UnsupportedCommandException']

In [214]:
description = []
descrip = driver.find_elements_by_xpath("//table[@class='table table-striped']/tbody/tr/td[2]")
for i in descrip:
    desc = i.text
    description.append(desc)
description

['This type of Selenium exception occurs when an existing element in DOM has a feature set as hidden.',
 'This Selenium exception occurs when an element is presented in the DOM, but you can be able to select. Therefore, it is not possible to interact.',
 'This Exception occurs if an element could not be found.',
 'This Exception occurs if the frame target to be switched to does not exist.',
 'This Exception occurs when you switch to no presented alert.',
 'This Exception occurs if the window target to be switch does not exist.',
 'This Selenium exception occurs happens when the web element is detached from the current DOM.',
 'The WebDriver is acting after you quit the browser.',
 'Thrown when there is not enough time for a command to be completed. For Example, the element searched wasn’t found in the specified time.',
 'This Exception takes place when the WebDriver is acting right after you close the browser.',
 'This type of Exception takes place when there is a disconnection in the driver.',
 'The command may not be completed as the element receiving the events is concealing the element which was requested clicked.',
 'This Selenium exception is thrown when any element is presented in the DOM. However, it is impossible to interact with such an element.',
 'This happens while interacting with the Firefox extension or the remote driver server.',
 'Exception is used as a placeholder in case if the server returns an error without a stack trace.',
 'This expectation will occur when IME engine activation has failed.',
 'It takes place when IME support is unavailable.',
 'Navigation made the user agent to hit a certificate warning. This can cause by an invalid or expired TLS certificate.',
 'It occurs when an argument does not belong to the expected type.',
 'This happens when you try to add a cookie under a different domain instead of current URL.',
 'This type of Exception matches an interacting operation that is not valid.',
 'It occurs when command can’t be finished when the element is invalid.',
 'This Exception took place when the given session ID is not included in the list of active sessions. It means the session does not exist or is inactive either.',
 'This occurs when the frame or window target to be switched does not exist.',
 'This issue occurs while executing JavaScript given by the user.',
 'It occurs when you afford to get the session when the session is not created.',
 'This kind of Exception occurs when the attribute of an element could not be found.',
 'It takes place if the target provided to the ActionChains move() methodology is not valid. For Example, out of the document.',
 'ContextAware does mobile device testing.',
 'This Exception occurs when no cookie matching with the given pathname found for all the associated cookies of the currently browsing document.',
 'This Exception is a subclass of WebDriverException. This will occur when an element on the DOM does not exist.',
 'This Selenium exception is thrown when the server is not responding because of the problem that the capabilities described are not proper.',
 'It is not possible to capture a screen.',
 'It happens when a new session could not be successfully created.',
 'This occurs if a driver is unable to set a cookie.',
 'Happens if a support class did not get a web element as expected.',
 'This expectation occurs when there is an alert, but WebDriver is not able to perform Alert operation.',
 'It occurs when there is the appearance of an unexpected alert.',
 'This Exception happens when the requested command matches with a known URL but and not matching with a methodology for a specific URL.',
 'This Exception occurs only when the browser is not able to be opened or crashed because of some reason.',
 'This occurs when remote WebDriver does n’t send valid commands as expected.']

In [216]:
df = pd.DataFrame({'Name of the exception':title,'Description':description})
df

,Name of the exception,Description
0,ElementNotVisibleException,This type of Selenium exception occurs when an...
1,ElementNotSelectableException,This Selenium exception occurs when an element...
2,NoSuchElementException,This Exception occurs if an element could not ...
3,NoSuchFrameException,This Exception occurs if the frame target to b...
4,NoAlertPresentException,This Exception occurs when you switch to no pr...
5,NoSuchWindowException,This Exception occurs if the window target to ...
6,StaleElementReferenceException,This Selenium exception occurs happens when th...
7,SessionNotFoundException,The WebDriver is acting after you quit the bro...
8,TimeoutException,Thrown when there is not enough time for a com...
9,WebDriverException,This Exception takes place when the WebDriver ...
10,ConnectionClosedException,This type of Exception takes place when there ...
11,ElementClickInterceptedException,The command may not be completed as the elemen...
12,ElementNotInteractableException,This Selenium exception is thrown when any ele...
13,ErrorInResponseException,This happens while interacting with the Firefo...
14,ErrorHandler.UnknownServerException,Exception is used as a placeholder in case if ...
15,ImeActivationFailedException,This expectation will occur when IME engine ac...
16,ImeNotAvailableException,It takes place when IME support is unavailable.
17,InsecureCertificateException,Navigation made the user agent to hit a certif...
18,InvalidArgumentException,It occurs when an argument does not belong to ...
19,InvalidCookieDomainException,This happens when you try to add a cookie unde...
20,InvalidCoordinatesException,This type of Exception matches an interacting ...
21,InvalidElementStateExceptio,It occurs when command can’t be finished when ...
22,InvalidSessionIdException,This Exception took place when the given sessi...
23,InvalidSwitchToTargetException,This occurs when the frame or window target to...
24,JavascriptException,This issue occurs while executing JavaScript g...
25,JsonException,It occurs when you afford to get the session w...
26,NoSuchAttributeException,This kind of Exception occurs when the attribu...
27,MoveTargetOutOfBoundsException,It takes place if the target provided to the A...
28,NoSuchContextException,ContextAware does mobile device testing.
29,NoSuchCookieException,This Exception occurs when no cookie matching ...
30,NotFoundException,This Exception is a subclass of WebDriverExcep...
31,RemoteDriverServerException,This Selenium exception is thrown when the ser...
32,ScreenshotException,It is not possible to capture a screen.
33,SessionNotCreatedException,It happens when a new session could not be suc...
34,UnableToSetCookieException,This occurs if a driver is unable to set a coo...
35,UnexpectedTagNameException,Happens if a support class did not get a web e...
36,UnhandledAlertException,This expectation occurs when there is an alert...
37,UnexpectedAlertPresentException,It occurs when there is the appearance of an u...
38,UnknownMethodException,This Exception happens when the requested comm...
39,UnreachableBrowserException,This Exception occurs only when the browser is...
40,UnsupportedCommandException,This occurs when remote WebDriver does n’t sen...

In [217]:
driver.close()

4. Scrape the details of State-wise GDP of India from statisticstime.com. Url = http://statisticstimes.com/
- You have to find following details:
    - A) Rank
    - B) State
    - C) GSDP
    - D) GSDP
    - E) Share
    - F) GDP($ billion)
-Note: - From statisticstimes home page you have to reach to economy page through code.

In [101]:
driver = webdriver.Chrome(r"C:/Users/Lenovo/Desktop/DS/chromedriver.exe")
driver.get ('http://statisticstimes.com/')

In [102]:
butt = driver.find_element_by_xpath("/html/body/div[2]/div[1]/div[2]/div[2]/button")
butt.click()

In [103]:
ind = driver.find_element_by_xpath("/html/body/div[2]/div[1]/div[2]/div[2]/div/a[3]")
ind.click()

In [107]:
gdp = driver.find_element_by_xpath("/html/body/div[2]/div[2]/div[2]/ul/li[1]/a")
gdp.click()

In [108]:
rank = []
ranked = driver.find_elements_by_xpath("//td[@class='data1']")
for i in ranked:
    ran = i.text
    rank.append(ran)
rank

['1',
 '2',
 '3',
 '4',
 '5',
 '6',
 '7',
 '8',
 '9',
 '10',
 '11',
 '12',
 '13',
 '14',
 '15',
 '16',
 '17',
 '18',
 '19',
 '20',
 '21',
 '22',
 '23',
 '24',
 '25',
 '26',
 '27',
 '28',
 '29',
 '30',
 '31',
 '32',
 '33',
 '',
 '1',
 '2',
 '3',
 '4',
 '5',
 '6',
 '7',
 '8',
 '9',
 '10',
 '11',
 '12',
 '13',
 '14',
 '15',
 '16',
 '17',
 '18',
 '19',
 '20',
 '21',
 '22',
 '23',
 '24',
 '25',
 '26',
 '27',
 '28',
 '29',
 '30',
 '31',
 '32',
 '33',
 '']

In [116]:
name = []
named = driver.find_elements_by_xpath("//td[@class='name']")
for i in named:
    nam = i.text
    name.append(nam)
name

['Maharashtra',
 'Tamil Nadu',
 'Uttar Pradesh',
 'Gujarat',
 'Karnataka',
 'West Bengal',
 'Rajasthan',
 'Andhra Pradesh',
 'Telangana',
 'Madhya Pradesh',
 'Kerala',
 'Delhi',
 'Haryana',
 'Bihar',
 'Punjab',
 'Odisha',
 'Assam',
 'Chhattisgarh',
 'Jharkhand',
 'Uttarakhand',
 'Jammu & Kashmir',
 'Himachal Pradesh',
 'Goa',
 'Tripura',
 'Chandigarh',
 'Puducherry',
 'Meghalaya',
 'Sikkim',
 'Manipur',
 'Nagaland',
 'Arunachal Pradesh',
 'Mizoram',
 'Andaman & Nicobar Islands',
 'India',
 'Maharashtra',
 'Tamil Nadu',
 'Uttar Pradesh',
 'Karnataka',
 'Gujarat',
 'West Bengal',
 'Rajasthan',
 'Telangana',
 'Andhra Pradesh',
 'Madhya Pradesh',
 'Kerala',
 'Delhi',
 'Haryana',
 'Bihar',
 'Punjab',
 'Odisha',
 'Assam',
 'Jharkhand',
 'Chhattisgarh',
 'Uttarakhand',
 'Himachal Pradesh',
 'Jammu & Kashmir',
 'Goa',
 'Tripura',
 'Chandigarh',
 'Puducherry',
 'Meghalaya',
 'Manipur',
 'Sikkim',
 'Nagaland',
 'Arunachal Pradesh',
 'Mizoram',
 'Andaman & Nicobar Islands',
 'India']

In [113]:
gsdp = []
gsdpt = driver.find_elements_by_xpath("//td[@class='data'][1]")
for i in gsdpt:
    gsd = i.text
    gsdp.append(gsd)
gsdp

['-',
 '1,845,853',
 '1,687,818',
 '-',
 '1,631,977',
 '1,253,832',
 '1,020,989',
 '972,782',
 '969,604',
 '906,672',
 '-',
 '856,112',
 '831,610',
 '611,804',
 '574,760',
 '521,275',
 '-',
 '329,180',
 '328,598',
 '-',
 '-',
 '165,472',
 '80,449',
 '55,984',
 '-',
 '38,253',
 '36,572',
 '32,496',
 '31,790',
 '-',
 '-',
 '26,503',
 '-',
 '20,351,013',
 '-',
 '1,659,210',
 '1,495,758',
 '1,476,983',
 '-',
 '1,150,711',
 '916,014',
 '881,873',
 '875,429',
 '827,019',
 '-',
 '779,647',
 '755,790',
 '562,710',
 '517,521',
 '457,757',
 '-',
 '301,242',
 '288,041',
 '-',
 '143,063',
 '-',
 '72,181',
 '50,227',
 '-',
 '34,823',
 '32,833',
 '29,148',
 '28,391',
 '-',
 '-',
 '24,424',
 '-',
 '17,994,301']

In [114]:
gdpd = []
gdptd = driver.find_elements_by_xpath("//td[@class='data sorting_1']")
for i in gdptd:
    gdd = i.text
    gdpd.append(gdd)
gdpd

['2,632,792',
 '1,630,208',
 '1,584,764',
 '1,502,899',
 '1,493,127',
 '1,089,898',
 '942,586',
 '862,957',
 '861,031',
 '809,592',
 '781,653',
 '774,870',
 '734,163',
 '530,363',
 '526,376',
 '487,805',
 '315,881',
 '304,063',
 '297,204',
 '245,895',
 '155,956',
 '153,845',
 '73,170',
 '49,845',
 '42,114',
 '34,433',
 '33,481',
 '28,723',
 '27,870',
 '27,283',
 '24,603',
 '22,287',
 '-',
 '2,332,992',
 '1,465,361',
 '1,404,761',
 '1,351,553',
 '1,322,936',
 '995,502',
 '845,247',
 '782,370',
 '776,140',
 '737,156',
 '707,542',
 '704,529',
 '666,075',
 '486,776',
 '472,506',
 '428,031',
 '282,782',
 '271,990',
 '266,537',
 '221,871',
 '133,303',
 '129,877',
 '66,060',
 '44,835',
 '37,571',
 '31,415',
 '29,544',
 '25,323',
 '25,141',
 '24,534',
 '22,488',
 '20,947',
 '-']

In [115]:
share = []
shared = driver.find_elements_by_xpath("//td[@class='data'][2]")
for i in shared:
    shar = i.text
    share.append(shar)
share

['13.94%',
 '8.63%',
 '8.39%',
 '7.96%',
 '7.91%',
 '5.77%',
 '4.99%',
 '4.57%',
 '4.56%',
 '4.29%',
 '4.14%',
 '4.10%',
 '3.89%',
 '2.81%',
 '2.79%',
 '2.58%',
 '1.67%',
 '1.61%',
 '1.57%',
 '1.30%',
 '0.83%',
 '0.81%',
 '0.39%',
 '0.26%',
 '0.22%',
 '0.18%',
 '0.18%',
 '0.15%',
 '0.15%',
 '0.14%',
 '0.13%',
 '0.12%',
 '-',
 '18,886,957',
 '13.97%',
 '8.77%',
 '8.41%',
 '8.09%',
 '7.92%',
 '5.96%',
 '5.06%',
 '4.68%',
 '4.65%',
 '4.41%',
 '4.24%',
 '4.22%',
 '3.99%',
 '2.91%',
 '2.83%',
 '2.56%',
 '1.69%',
 '1.63%',
 '1.60%',
 '1.33%',
 '0.80%',
 '0.78%',
 '0.40%',
 '0.27%',
 '0.22%',
 '0.19%',
 '0.18%',
 '0.15%',
 '0.15%',
 '0.15%',
 '0.13%',
 '0.13%',
 '-',
 '16,704,645']

In [111]:
gdp = []
gdpt = driver.find_elements_by_xpath("//td[@class='data'][3]")
for i in gdpt:
    gd = i.text
    gdp.append(gd)
gdp

['399.921',
 '247.629',
 '240.726',
 '228.290',
 '226.806',
 '165.556',
 '143.179',
 '131.083',
 '130.791',
 '122.977',
 '118.733',
 '117.703',
 '111.519',
 '80.562',
 '79.957',
 '74.098',
 '47.982',
 '46.187',
 '45.145',
 '37.351',
 '23.690',
 '23.369',
 '11.115',
 '7.571',
 '6.397',
 '5.230',
 '5.086',
 '4.363',
 '4.233',
 '4.144',
 '3.737',
 '3.385',
 '-',
 '',
 '-',
 '1,167,776',
 '1,015,735',
 '1,035,131',
 '-',
 '713,376',
 '630,693',
 '594,806',
 '595,605',
 '496,798',
 '-',
 '568,265',
 '514,983',
 '377,276',
 '374,015',
 '344,437',
 '-',
 '218,232',
 '210,837',
 '-',
 '107,171',
 '-',
 '56,810',
 '35,980',
 '-',
 '22,291',
 '23,564',
 '18,549',
 '17,060',
 '-',
 '-',
 '17,797',
 '-',
 '']

In [117]:
df = pd.DataFrame({'Rank':rank[0:33],'State':name[0:33],'GSDP (19-20)':gsdp[0:33],'GSDP (18-19)':gdpd[0:33],'Share':share[0:33],'GDP ($ billion)':gdp[0:33]})
df

,Rank,State,GSDP (19-20),GSDP (18-19),Share,GDP ($ billion)
0,1,Maharashtra,-,"2,632,792",13.94%,399.921
1,2,Tamil Nadu,"1,845,853","1,630,208",8.63%,247.629
2,3,Uttar Pradesh,"1,687,818","1,584,764",8.39%,240.726
3,4,Gujarat,-,"1,502,899",7.96%,228.290
4,5,Karnataka,"1,631,977","1,493,127",7.91%,226.806
5,6,West Bengal,"1,253,832","1,089,898",5.77%,165.556
6,7,Rajasthan,"1,020,989","942,586",4.99%,143.179
7,8,Andhra Pradesh,"972,782","862,957",4.57%,131.083
8,9,Telangana,"969,604","861,031",4.56%,130.791
9,10,Madhya Pradesh,"906,672","809,592",4.29%,122.977
10,11,Kerala,-,"781,653",4.14%,118.733
11,12,Delhi,"856,112","774,870",4.10%,117.703
12,13,Haryana,"831,610","734,163",3.89%,111.519
13,14,Bihar,"611,804","530,363",2.81%,80.562
14,15,Punjab,"574,760","526,376",2.79%,79.957
15,16,Odisha,"521,275","487,805",2.58%,74.098
16,17,Assam,-,"315,881",1.67%,47.982
17,18,Chhattisgarh,"329,180","304,063",1.61%,46.187
18,19,Jharkhand,"328,598","297,204",1.57%,45.145
19,20,Uttarakhand,-,"245,895",1.30%,37.351
20,21,Jammu & Kashmir,-,"155,956",0.83%,23.690
21,22,Himachal Pradesh,"165,472","153,845",0.81%,23.369
22,23,Goa,"80,449","73,170",0.39%,11.115
23,24,Tripura,"55,984","49,845",0.26%,7.571
24,25,Chandigarh,-,"42,114",0.22%,6.397
25,26,Puducherry,"38,253","34,433",0.18%,5.230
26,27,Meghalaya,"36,572","33,481",0.18%,5.086
27,28,Sikkim,"32,496","28,723",0.15%,4.363
28,29,Manipur,"31,790","27,870",0.15%,4.233
29,30,Nagaland,-,"27,283",0.14%,4.144
30,31,Arunachal Pradesh,-,"24,603",0.13%,3.737
31,32,Mizoram,"26,503","22,287",0.12%,3.385
32,33,Andaman & Nicobar Islands,-,-,-,-

In [118]:
driver.close()

5. Scrape the details of trending repositories on Github.com. Url = https://github.com/
- You have to find the following details:
   - A) Repository title
   - B) Repository description
   - C) Contributors count
   - D) Language used
- Note: - From the home page you have to click on the trending option from Explore menu through code.

In [226]:
driver = webdriver.Chrome(r"C:/Users/Lenovo/Desktop/DS/chromedriver.exe")
driver.get ('https://github.com/')

In [227]:
exp = driver.find_element_by_xpath("/html/body/div[1]/header/div/div[2]/nav/ul/li[4]/details/summary")
exp.click()

In [228]:
trend = driver.find_element_by_xpath("/html/body/div[1]/header/div/div[2]/nav/ul/li[4]/details/div/ul/li[5]/a")
trend.click()

In [229]:
url = []
for i in driver.find_elements_by_xpath ("//h1[@class = 'h3 lh-condensed']/a"):
    url.append(i.get_attribute('href'))
url

['https://github.com/bevyengine/bevy',
 'https://github.com/Asabeneh/30-Days-Of-JavaScript',
 'https://github.com/QSCTech/zju-icicles',
 'https://github.com/TheAlgorithms/Python',
 'https://github.com/solana-labs/solana',
 'https://github.com/freeCodeCamp/freeCodeCamp',
 'https://github.com/arendst/Tasmota',
 'https://github.com/microsoft/PowerToys',
 'https://github.com/521xueweihan/HelloGitHub',
 'https://github.com/TheAlgorithms/Java',
 'https://github.com/DarkCoderSc/PowerRemoteDesktop',
 'https://github.com/xmu-xiaoma666/External-Attention-pytorch',
 'https://github.com/FastVM/minivm',
 'https://github.com/irbigdata/data-dockerfiles',
 'https://github.com/PKUanonym/REKCARC-TSC-UHT',
 'https://github.com/sunym1993/flash-linux0.11-talk',
 'https://github.com/megadose/holehe',
 'https://github.com/Anarios/return-youtube-dislike',
 'https://github.com/faridrashidi/kaggle-solutions',
 'https://github.com/paralax/awesome-cybersecurity-internships',
 'https://github.com/Klipper3d/klipper',
 'https://github.com/jeecgboot/jeecg-boot',
 'https://github.com/VGVentures/slide_puzzle',
 'https://github.com/USTC-Resource/USTC-Course',
 'https://github.com/solo-io/bumblebee']

In [233]:
title = []
for i in url:
    driver.get(i)
    time.sleep(2)
    try:
        tit = driver.find_element_by_xpath("//strong[@class='mr-2 flex-self-stretch']")
        title.append(tit.text)
    except:
        title.append('-')
    print(title)

['bevy']
['bevy', '30-Days-Of-JavaScript']
['bevy', '30-Days-Of-JavaScript', 'zju-icicles']
['bevy', '30-Days-Of-JavaScript', 'zju-icicles', 'Python']
['bevy', '30-Days-Of-JavaScript', 'zju-icicles', 'Python', 'solana']
['bevy', '30-Days-Of-JavaScript', 'zju-icicles', 'Python', 'solana', 'freeCodeCamp']
['bevy', '30-Days-Of-JavaScript', 'zju-icicles', 'Python', 'solana', 'freeCodeCamp', 'Tasmota']
['bevy', '30-Days-Of-JavaScript', 'zju-icicles', 'Python', 'solana', 'freeCodeCamp', 'Tasmota', 'PowerToys']
['bevy', '30-Days-Of-JavaScript', 'zju-icicles', 'Python', 'solana', 'freeCodeCamp', 'Tasmota', 'PowerToys', 'HelloGitHub']
['bevy', '30-Days-Of-JavaScript', 'zju-icicles', 'Python', 'solana', 'freeCodeCamp', 'Tasmota', 'PowerToys', 'HelloGitHub', 'Java']
['bevy', '30-Days-Of-JavaScript', 'zju-icicles', 'Python', 'solana', 'freeCodeCamp', 'Tasmota', 'PowerToys', 'HelloGitHub', 'Java', 'PowerRemoteDesktop']
['bevy', '30-Days-Of-JavaScript', 'zju-icicles', 'Python', 'solana', 'freeCodeCamp', 'Tasmota', 'PowerToys', 'HelloGitHub', 'Java', 'PowerRemoteDesktop', 'External-Attention-pytorch']
['bevy', '30-Days-Of-JavaScript', 'zju-icicles', 'Python', 'solana', 'freeCodeCamp', 'Tasmota', 'PowerToys', 'HelloGitHub', 'Java', 'PowerRemoteDesktop', 'External-Attention-pytorch', 'minivm']
['bevy', '30-Days-Of-JavaScript', 'zju-icicles', 'Python', 'solana', 'freeCodeCamp', 'Tasmota', 'PowerToys', 'HelloGitHub', 'Java', 'PowerRemoteDesktop', 'External-Attention-pytorch', 'minivm', 'data-dockerfiles']
['bevy', '30-Days-Of-JavaScript', 'zju-icicles', 'Python', 'solana', 'freeCodeCamp', 'Tasmota', 'PowerToys', 'HelloGitHub', 'Java', 'PowerRemoteDesktop', 'External-Attention-pytorch', 'minivm', 'data-dockerfiles', 'REKCARC-TSC-UHT']
['bevy', '30-Days-Of-JavaScript', 'zju-icicles', 'Python', 'solana', 'freeCodeCamp', 'Tasmota', 'PowerToys', 'HelloGitHub', 'Java', 'PowerRemoteDesktop', 'External-Attention-pytorch', 'minivm', 'data-dockerfiles', 'REKCARC-TSC-UHT', 'flash-linux0.11-talk']
['bevy', '30-Days-Of-JavaScript', 'zju-icicles', 'Python', 'solana', 'freeCodeCamp', 'Tasmota', 'PowerToys', 'HelloGitHub', 'Java', 'PowerRemoteDesktop', 'External-Attention-pytorch', 'minivm', 'data-dockerfiles', 'REKCARC-TSC-UHT', 'flash-linux0.11-talk', 'holehe']
['bevy', '30-Days-Of-JavaScript', 'zju-icicles', 'Python', 'solana', 'freeCodeCamp', 'Tasmota', 'PowerToys', 'HelloGitHub', 'Java', 'PowerRemoteDesktop', 'External-Attention-pytorch', 'minivm', 'data-dockerfiles', 'REKCARC-TSC-UHT', 'flash-linux0.11-talk', 'holehe', 'return-youtube-dislike']
['bevy', '30-Days-Of-JavaScript', 'zju-icicles', 'Python', 'solana', 'freeCodeCamp', 'Tasmota', 'PowerToys', 'HelloGitHub', 'Java', 'PowerRemoteDesktop', 'External-Attention-pytorch', 'minivm', 'data-dockerfiles', 'REKCARC-TSC-UHT', 'flash-linux0.11-talk', 'holehe', 'return-youtube-dislike', 'kaggle-solutions']
['bevy', '30-Days-Of-JavaScript', 'zju-icicles', 'Python', 'solana', 'freeCodeCamp', 'Tasmota', 'PowerToys', 'HelloGitHub', 'Java', 'PowerRemoteDesktop', 'External-Attention-pytorch', 'minivm', 'data-dockerfiles', 'REKCARC-TSC-UHT', 'flash-linux0.11-talk', 'holehe', 'return-youtube-dislike', 'kaggle-solutions', 'awesome-cybersecurity-internships']
['bevy', '30-Days-Of-JavaScript', 'zju-icicles', 'Python', 'solana', 'freeCodeCamp', 'Tasmota', 'PowerToys', 'HelloGitHub', 'Java', 'PowerRemoteDesktop', 'External-Attention-pytorch', 'minivm', 'data-dockerfiles', 'REKCARC-TSC-UHT', 'flash-linux0.11-talk', 'holehe', 'return-youtube-dislike', 'kaggle-solutions', 'awesome-cybersecurity-internships', 'klipper']
['bevy', '30-Days-Of-JavaScript', 'zju-icicles', 'Python', 'solana', 'freeCodeCamp', 'Tasmota', 'PowerToys', 'HelloGitHub', 'Java', 'PowerRemoteDesktop', 'External-Attention-pytorch', 'minivm', 'data-dockerfiles', 'REKCARC-TSC-UHT', 'flash-linux0.11-talk', 'holehe', 'return-youtube-dislike', 'kaggle-solutions', 'awesome-cybersecurity-internships', 'klipper', 'jeecg-boot']
['bevy', '30-Days-Of-JavaScript', 'zju-icicles', 'Python', 'solana', 'freeCodeCamp', 'Tasmota', 'PowerToys', 'HelloGitHub', 'Java', 'PowerRemoteDesktop', 'External-Attention-pytorch', 'minivm', 'data-dockerfiles', 'REKCARC-TSC-UHT', 'flash-linux0.11-talk', 'holehe', 'return-youtube-dislike', 'kaggle-solutions', 'awesome-cybersecurity-internships', 'klipper', 'jeecg-boot', 'slide_puzzle']
['bevy', '30-Days-Of-JavaScript', 'zju-icicles', 'Python', 'solana', 'freeCodeCamp', 'Tasmota', 'PowerToys', 'HelloGitHub', 'Java', 'PowerRemoteDesktop', 'External-Attention-pytorch', 'minivm', 'data-dockerfiles', 'REKCARC-TSC-UHT', 'flash-linux0.11-talk', 'holehe', 'return-youtube-dislike', 'kaggle-solutions', 'awesome-cybersecurity-internships', 'klipper', 'jeecg-boot', 'slide_puzzle', 'USTC-Course']
['bevy', '30-Days-Of-JavaScript', 'zju-icicles', 'Python', 'solana', 'freeCodeCamp', 'Tasmota', 'PowerToys', 'HelloGitHub', 'Java', 'PowerRemoteDesktop', 'External-Attention-pytorch', 'minivm', 'data-dockerfiles', 'REKCARC-TSC-UHT', 'flash-linux0.11-talk', 'holehe', 'return-youtube-dislike', 'kaggle-solutions', 'awesome-cybersecurity-internships', 'klipper', 'jeecg-boot', 'slide_puzzle', 'USTC-Course', 'bumblebee']

In [234]:
title

['bevy',
 '30-Days-Of-JavaScript',
 'zju-icicles',
 'Python',
 'solana',
 'freeCodeCamp',
 'Tasmota',
 'PowerToys',
 'HelloGitHub',
 'Java',
 'PowerRemoteDesktop',
 'External-Attention-pytorch',
 'minivm',
 'data-dockerfiles',
 'REKCARC-TSC-UHT',
 'flash-linux0.11-talk',
 'holehe',
 'return-youtube-dislike',
 'kaggle-solutions',
 'awesome-cybersecurity-internships',
 'klipper',
 'jeecg-boot',
 'slide_puzzle',
 'USTC-Course',
 'bumblebee']

In [241]:
description = []
for i in url:
    driver.get(i)
    time.sleep(2)
    try:
        desc = driver.find_element_by_xpath("//div[@class='BorderGrid-cell']/p")
        description.append(desc.text)
    except:
        description.append('-')
description

['A refreshingly simple data-driven game engine built in Rust',
 '30 days of JavaScript programming challenge is a step-by-step guide to learn JavaScript programming language in 30 days. This challenge may take more than 100 days, please just follow your own pace.',
 '浙江大学课程攻略共享计划',
 'All Algorithms implemented in Python',
 'Web-Scale Blockchain for fast, secure, scalable, decentralized apps and marketplaces.',
 "freeCodeCamp.org's open-source codebase and curriculum. Learn to code for free.",
 'Alternative firmware for ESP8266 with easy configuration using webUI, OTA updates, automation using timers or rules, expandability and entirely local control over MQTT, HTTP, Serial or KNX. Full documentation at',
 'Windows system utilities to maximize productivity',
 '分享 GitHub 上有趣、入门级的开源项目。Share interesting, entry-level open source projects on GitHub.',
 'All Algorithms implemented in Java',
 'Remote Desktop entirely coded in PowerShell.',
 'Pytorch implementation of various Attention Mechanisms, MLP, Re-parameter, Convolution, which is helpful to further understand papers.',
 'A VM That is Dynamic and Fast',
 'a curated list of docker-compose files prepared for testing data engineering tools, databases and open source libraries.',
 '清华大学计算机系课程攻略 Guidance for courses in Department of Computer Science and Technology, Tsinghua University',
 '你管这破玩意叫操作系统源码 — 像小说一样品读 Linux 0.11 核心代码',
 'holehe allows you to check if the mail is used on different sites like twitter, instagram and will retrieve information on sites with the forgotten password function.',
 'Chrome extension to return youtube dislikes',
 'Collection of Kaggle Solutions and Ideas',
 'a list of cybersecurity internships',
 'Klipper is a 3d-printer firmware',
 '「企业级低代码平台」前后端分离架构SpringBoot 2.x，SpringCloud，Ant Design&Vue，Mybatis-plus，Shiro，JWT。强大的代码生成器让前后端代码一键生成，无需写任何代码! 引领新的开发模式OnlineCoding->代码生成->手工MERGE，帮助Java项目解决70%重复工作，让开发更关注业务，既能快速提高效率，帮助公司节省成本，同时又不失灵活性。',
 '-',
 '中国科学技术大学课程资源',
 'Get eBPF programs running from the cloud to the kernel in 1 line of bash']

In [159]:
language = []
for i in url:
    driver.get(i)
    time.sleep(2)
    try:
        lang = driver.find_element_by_xpath("//a[@class='d-inline-flex flex-items-center flex-nowrap Link--secondary no-underline text-small mr-3']")
        language.append(lang.text)
    except:
        language.append('-')
language

['Smali\n78.6%',
 'C#\n69.6%',
 'TypeScript\n68.4%',
 'Python\n69.3%',
 'C#\n85.4%',
 'C++\n96.3%',
 'Rust\n76.9%',
 'Rust\n97.7%',
 'Java\n100.0%',
 'JavaScript\n88.3%',
 '-',
 '-',
 'Swift\n93.9%',
 'HTML\n98.4%',
 'JavaScript\n24.6%',
 'JavaScript\n100.0%',
 'Python\n99.9%',
 'JavaScript\n48.1%',
 'JavaScript\n97.8%',
 'Rust\n97.4%',
 'JavaScript\n79.8%',
 'C++\n90.0%',
 'Jupyter Notebook\n100.0%',
 'Python\n77.5%',
 'TypeScript\n94.1%']

In [230]:
language = [i.split('\n')[0] for i in language]
language

['Smali',
 'C#',
 'TypeScript',
 'Python',
 'C#',
 'C++',
 'Rust',
 'Rust',
 'Java',
 'JavaScript',
 '-',
 '-',
 'Swift',
 'HTML',
 'JavaScript',
 'JavaScript',
 'Python',
 'JavaScript',
 'JavaScript',
 'Rust',
 'JavaScript',
 'C++',
 'Jupyter Notebook',
 'Python',
 'TypeScript']

In [237]:
count = []
for i in url:
    driver.get(i)
    time.sleep(2)
    try:
        coun = driver.find_element_by_xpath("//a[@class='Link--secondary no-underline']/span")
        count.append(coun.text)
    except:
        count.append('-')
count

['1.2k',
 '2.8k',
 '7.2k',
 '33.8k',
 '1.4k',
 '27.7k',
 '3.7k',
 '3.7k',
 '7.3k',
 '14.3k',
 '57',
 '638',
 '33',
 '17',
 '5.8k',
 '376',
 '226',
 '297',
 '304',
 '43',
 '2.8k',
 '10.6k',
 '76',
 '3.2k',
 '22']

In [242]:
print(len(title),len(description),len(count),len(language))

25 25 25 25

In [243]:
df = pd.DataFrame({'Repository Title':title,'Repository Description':description,'Contributors Count':count,'Language Used':language})
df

,Repository Title,Repository Description,Contributors Count,Language Used
0,bevy,A refreshingly simple data-driven game engine ...,1.2k,Smali
1,30-Days-Of-JavaScript,30 days of JavaScript programming challenge is...,2.8k,C#
2,zju-icicles,浙江大学课程攻略共享计划,7.2k,TypeScript
3,Python,All Algorithms implemented in Python,33.8k,Python
4,solana,"Web-Scale Blockchain for fast, secure, scalabl...",1.4k,C#
5,freeCodeCamp,freeCodeCamp.org's open-source codebase and cu...,27.7k,C++
6,Tasmota,Alternative firmware for ESP8266 with easy con...,3.7k,Rust
7,PowerToys,Windows system utilities to maximize productivity,3.7k,Rust
8,HelloGitHub,"分享 GitHub 上有趣、入门级的开源项目。Share interesting, entr...",7.3k,Java
9,Java,All Algorithms implemented in Java,14.3k,JavaScript
10,PowerRemoteDesktop,Remote Desktop entirely coded in PowerShell.,57,-
11,External-Attention-pytorch,Pytorch implementation of various Attention Me...,638,-
12,minivm,A VM That is Dynamic and Fast,33,Swift
13,data-dockerfiles,a curated list of docker-compose files prepare...,17,HTML
14,REKCARC-TSC-UHT,清华大学计算机系课程攻略 Guidance for courses in Departmen...,5.8k,JavaScript
15,flash-linux0.11-talk,你管这破玩意叫操作系统源码 — 像小说一样品读 Linux 0.11 核心代码,376,JavaScript
16,holehe,holehe allows you to check if the mail is used...,226,Python
17,return-youtube-dislike,Chrome extension to return youtube dislikes,297,JavaScript
18,kaggle-solutions,Collection of Kaggle Solutions and Ideas,304,JavaScript
19,awesome-cybersecurity-internships,a list of cybersecurity internships,43,Rust
20,klipper,Klipper is a 3d-printer firmware,2.8k,JavaScript
21,jeecg-boot,「企业级低代码平台」前后端分离架构SpringBoot 2.x，SpringCloud，An...,10.6k,C++
22,slide_puzzle,-,76,Jupyter Notebook
23,USTC-Course,中国科学技术大学课程资源,3.2k,Python
24,bumblebee,Get eBPF programs running from the cloud to th...,22,TypeScript

In [244]:
driver.close()

6. Scrape the details of top 100 songs on billiboard.com. Url = https:/www.billboard.com/
- You have to find the following details:
    - A) Song name
    - B) Artist name
    - C) Last week rank
    - D) Peak rank
    - E) Weeks on board
 - Note: - From the home page you have to click on the charts option then hot 100-page link through code.

In [3]:
driver = webdriver.Chrome(r"C:/Users/Lenovo/Desktop/DS/chromedriver.exe")
driver.get ('https:/www.billboard.com/')

In [4]:
charts = driver.find_element_by_xpath("//a[@class = 'c-link  lrv-a-unstyle-link lrv-a-unstyle-link lrv-u-color-brand-accent-blue:hover lrv-a-hover-effect lrv-u-whitespace-nowrap lrv-u-color-grey-lightest ']")
charts.click()

In [5]:
hot100 = driver.find_element_by_xpath("//a[@class = 'c-label__link lrv-u-color-brand-primary u-color-black@mobile-max a-font-primary-bold lrv-u-font-size-32 u-whitespace-nowrap@tablet']")
hot100.click()

In [14]:
heasong = []
heason = driver.find_elements_by_xpath("//h3[@class='c-title  a-no-trucate a-font-primary-bold-s u-letter-spacing-0021 u-font-size-23@tablet lrv-u-font-size-16 u-line-height-125 u-line-height-normal@mobile-max a-truncate-ellipsis u-max-width-245 u-max-width-230@tablet-only u-letter-spacing-0028@tablet']")
for i in heason:
    heaso = i.text
    heasong.append(heaso)
heasong

['Easy On Me']

In [7]:
song = []
songs = driver.find_elements_by_xpath("//h3[@class='c-title  a-no-trucate a-font-primary-bold-s u-letter-spacing-0021 lrv-u-font-size-18@tablet lrv-u-font-size-16 u-line-height-125 u-line-height-normal@mobile-max a-truncate-ellipsis u-max-width-330 u-max-width-230@tablet-only']")
for i in songs:
    son = i.text
    song.append(son)
song

['Stay',
 'Heat Waves',
 'Shivers',
 "We Don't Talk About Bruno",
 'Industry Baby',
 'Cold Heart (PNAU Remix)',
 'Bad Habits',
 'Need To Know',
 'Super Gremlin',
 'abcdefu',
 'Levitating',
 'Smokin Out The Window',
 'Surface Pressure',
 'Good 4 U',
 'Fancy Like',
 'Ghost',
 'Save Your Tears',
 'Kiss Me More',
 'Thats What I Want',
 'Essence',
 'One Right Now',
 'Better Days',
 'Oh My God',
 'You Right',
 'Happier Than Ever',
 'Broadway Girls',
 'Buy Dirt',
 'Love Nwantiti (Ah Ah Ah)',
 'I Hate U',
 'Knife Talk',
 'You Should Probably Leave',
 'Way 2 Sexy',
 'Hrs And Hrs',
 "If I Didn't Love You",
 "Thinking 'Bout You",
 'Whiskey And Rain',
 "Beggin'",
 'Meet Me At Our Spot',
 'One Mississippi',
 'Montero (Call Me By Your Name)',
 'Big Energy',
 'Sand In My Boots',
 'Girls Want Girls',
 'Freedom Was A Highway',
 'Pepas',
 'Who Want Smoke??',
 'Enemy',
 'Leave The Door Open',
 'Chasing After You',
 'Chosen',
 'To Be Loved By You',
 'Half Of My Hometown',
 'Have Mercy',
 "All Too Well (Taylor's Version)",
 'Woman',
 "'Til You Can't",
 'My Universe',
 'Heart On Fire',
 'Tequila Little Time',
 'For Tonight',
 'The Family Madrigal',
 "Message In A Bottle (Taylor's Version) (From The Vault)",
 'By Your Side',
 'Do It To It',
 'Scorpio',
 'What Else Can I Do?',
 'Flower Shops',
 'Fingers Crossed',
 'Same Boat',
 'Life Goes On',
 'Beers On Me',
 'Poke It Out',
 'I Am Woman',
 '23',
 "Doin' This",
 'Burn',
 'Bubbly',
 'Pressure',
 'No Love',
 'Family Ties',
 'Waiting On A Miracle',
 'Dos Oruguitas',
 'Too Easy',
 'Fair Trade',
 'Volvi',
 'AA',
 'Come Through',
 'Wandered To LA.',
 'Home Sweet',
 'Come Back As A Country Boy',
 'Already Dead',
 'Black Ball',
 'Baddest',
 'Moth To A Flame',
 'Me Or Sum',
 'I Love You So',
 'Bad Man (Smooth Criminal)',
 'Never Wanted To Be That Girl',
 'Just About Over You']

In [15]:
heaartist = []
heaartists = driver.find_elements_by_xpath("//span[@class='c-label  a-no-trucate a-font-primary-s lrv-u-font-size-14@mobile-max u-line-height-normal@mobile-max u-letter-spacing-0021 lrv-u-display-block a-truncate-ellipsis-2line u-max-width-330 u-max-width-230@tablet-only u-font-size-20@tablet']")
for i in heaartists:
    heaarti = i.text
    heaartist.append(heaarti)
heaartist

['Adele']

In [8]:
artist = []
artists = driver.find_elements_by_xpath("//span[@class='c-label  a-no-trucate a-font-primary-s lrv-u-font-size-14@mobile-max u-line-height-normal@mobile-max u-letter-spacing-0021 lrv-u-display-block a-truncate-ellipsis-2line u-max-width-330 u-max-width-230@tablet-only']")
for i in artists:
    arti = i.text
    artist.append(arti)
artist

['The Kid LAROI & Justin Bieber',
 'Glass Animals',
 'Ed Sheeran',
 'Carolina Gaitan, Mauro Castillo, Adassa, Rhenzy Feliz, Diane Guerrero, Stephanie Beatriz & Encanto Cast',
 'Lil Nas X & Jack Harlow',
 'Elton John & Dua Lipa',
 'Ed Sheeran',
 'Doja Cat',
 'Kodak Black',
 'GAYLE',
 'Dua Lipa',
 'Silk Sonic (Bruno Mars & Anderson .Paak)',
 'Jessica Darrow',
 'Olivia Rodrigo',
 'Walker Hayes',
 'Justin Bieber',
 'The Weeknd & Ariana Grande',
 'Doja Cat Featuring SZA',
 'Lil Nas X',
 'Wizkid Featuring Justin Bieber & Tems',
 'Post Malone & The Weeknd',
 'NEIKED X Mae Muller X Polo G',
 'Adele',
 'Doja Cat & The Weeknd',
 'Billie Eilish',
 'Lil Durk Featuring Morgan Wallen',
 'Jordan Davis Featuring Luke Bryan',
 'CKay',
 'SZA',
 'Drake Featuring 21 Savage & Project Pat',
 'Chris Stapleton',
 'Drake Featuring Future & Young Thug',
 'Muni Long',
 'Jason Aldean & Carrie Underwood',
 'Dustin Lynch Featuring Lauren Alaina Or MacKenzie Porter',
 'Michael Ray',
 'Maneskin',
 'THE ANXIETY: WILLOW & Tyler Cole',
 'Kane Brown',
 'Lil Nas X',
 'Latto',
 'Morgan Wallen',
 'Drake Featuring Lil Baby',
 'Jimmie Allen & Brad Paisley',
 'Farruko',
 'Nardo Wick Featuring G Herbo, Lil Durk & 21 Savage',
 'Imagine Dragons X JID',
 'Silk Sonic (Bruno Mars & Anderson .Paak)',
 'Ryan Hurd With Maren Morris',
 'Blxst & Tyga Featuring Ty Dolla $ign',
 'Parker McCollum',
 'Kelsea Ballerini Featuring Kenny Chesney',
 'Chloe',
 'Taylor Swift',
 'Doja Cat',
 'Cody Johnson',
 'Coldplay x BTS',
 'Eric Church',
 'Jon Pardi',
 'Giveon',
 'Stephanie Beatriz, Olga Merediz & Encanto Cast',
 'Taylor Swift',
 'Rod Wave',
 'Acraze Featuring Cherish',
 'Moneybagg Yo',
 'Diane Guerrero & Stephanie Beatriz',
 'ERNEST Featuring Morgan Wallen',
 'Lauren Spencer-Smith',
 'Zac Brown Band',
 'Oliver Tree',
 'Dierks Bentley, Breland & HARDY',
 'Wale Featuring J. Cole',
 'Emmy Meli',
 'Sam Hunt',
 'Luke Combs',
 'Juice WRLD',
 'Young Thug With Drake & Travis Scott',
 'Ari Lennox',
 'Summer Walker & SZA',
 'Baby Keem & Kendrick Lamar',
 'Stephanie Beatriz',
 'Sebastian Yatra',
 'Gunna & Future',
 'Drake Featuring Travis Scott',
 'Aventura x Bad Bunny',
 'Walker Hayes',
 'H.E.R. Featuring Chris Brown',
 'Juice WRLD & Justin Bieber',
 'Russell Dickerson',
 'Blake Shelton',
 'Juice WRLD',
 'YoungBoy Never Broke Again & Birdman',
 'Yung Bleu, Chris Brown & 2 Chainz',
 'Swedish House Mafia & The Weeknd',
 'Nardo Wick, Lil Baby & Future',
 'The Walters',
 'Polo G',
 'Carly Pearce & Ashley McBryde',
 'Priscilla Block']

In [16]:
last = []
lasts = driver.find_elements_by_xpath("//li[@class='o-chart-results-list__item // a-chart-color u-width-72 u-width-55@mobile-max u-width-55@tablet-only lrv-u-flex lrv-u-flex-shrink-0 lrv-u-align-items-center lrv-u-justify-content-center lrv-u-border-b-1 u-border-b-0@mobile-max lrv-u-border-color-grey-light u-background-color-white-064@mobile-max lrv-u-flex-grow-1']")
for i in lasts:
    las = i.text
    last.append(las)
last

['2',
 '13',
 '6',
 '26',
 '7',
 '51',
 '9',
 '17',
 '50',
 '2',
 '12',
 '24',
 '20',
 '18',
 '19',
 '28',
 '14',
 '30',
 '16',
 '9',
 '17',
 '7',
 '-',
 '61',
 '28',
 '9',
 '54',
 '2',
 '31',
 '34',
 '33',
 '29',
 '32',
 '15',
 '-',
 '53',
 '38',
 '38',
 '35',
 '16',
 '36',
 '26',
 '39',
 '9',
 '46',
 '12',
 '40',
 '7',
 '42',
 '27',
 '43',
 '23',
 '30',
 '3',
 '51',
 '22',
 '48',
 '16',
 '49',
 '5',
 '52',
 '18',
 '55',
 '27',
 '53',
 '18',
 '83',
 '2',
 '-',
 '21',
 '44',
 '21',
 '57',
 '14',
 '-',
 '25',
 '56',
 '17',
 '60',
 '15',
 '-',
 '35',
 '62',
 '11',
 '58',
 '25',
 '59',
 '18',
 '73',
 '13',
 '-',
 '21',
 '61',
 '13',
 '64',
 '7',
 '-',
 '39',
 '-',
 '30',
 '63',
 '15',
 '77',
 '6',
 '89',
 '8',
 '68',
 '17',
 '66',
 '8',
 '71',
 '23',
 '70',
 '13',
 '72',
 '15',
 '78',
 '7',
 '85',
 '13',
 '75',
 '14',
 '-',
 '1',
 '80',
 '8',
 '76',
 '6',
 '87',
 '3',
 '81',
 '7',
 '-',
 '1',
 '-',
 '1',
 '-',
 '1',
 '86',
 '16',
 '84',
 '5',
 '96',
 '2',
 '90',
 '8',
 '92',
 '2',
 '99',
 '2',
 '88',
 '4',
 '82',
 '4',
 '91',
 '12',
 '94',
 '2',
 '98',
 '9',
 '100',
 '19',
 '-',
 '1',
 '-',
 '1',
 '-',
 '10',
 '-',
 '15',
 '-',
 '18',
 '-',
 '1',
 '-',
 '18',
 '95',
 '5',
 '-',
 '1',
 '-',
 '1',
 '97',
 '7',
 '-',
 '1',
 '-',
 '18',
 '-',
 '7',
 '-',
 '2',
 '-',
 '1',
 '-',
 '6',
 '-',
 '1',
 '-',
 '7']

In [17]:
board = last[0: :2]
board

['2',
 '6',
 '7',
 '9',
 '50',
 '12',
 '20',
 '19',
 '14',
 '16',
 '17',
 '-',
 '28',
 '54',
 '31',
 '33',
 '32',
 '-',
 '38',
 '35',
 '36',
 '39',
 '46',
 '40',
 '42',
 '43',
 '30',
 '51',
 '48',
 '49',
 '52',
 '55',
 '53',
 '83',
 '-',
 '44',
 '57',
 '-',
 '56',
 '60',
 '-',
 '62',
 '58',
 '59',
 '73',
 '-',
 '61',
 '64',
 '-',
 '-',
 '63',
 '77',
 '89',
 '68',
 '66',
 '71',
 '70',
 '72',
 '78',
 '85',
 '75',
 '-',
 '80',
 '76',
 '87',
 '81',
 '-',
 '-',
 '-',
 '86',
 '84',
 '96',
 '90',
 '92',
 '99',
 '88',
 '82',
 '91',
 '94',
 '98',
 '100',
 '-',
 '-',
 '-',
 '-',
 '-',
 '-',
 '-',
 '95',
 '-',
 '-',
 '97',
 '-',
 '-',
 '-',
 '-',
 '-',
 '-',
 '-',
 '-']

In [19]:
onchart = last [1: :2]
onchart

['13',
 '26',
 '51',
 '17',
 '2',
 '24',
 '18',
 '28',
 '30',
 '9',
 '7',
 '61',
 '9',
 '2',
 '34',
 '29',
 '15',
 '53',
 '38',
 '16',
 '26',
 '9',
 '12',
 '7',
 '27',
 '23',
 '3',
 '22',
 '16',
 '5',
 '18',
 '27',
 '18',
 '2',
 '21',
 '21',
 '14',
 '25',
 '17',
 '15',
 '35',
 '11',
 '25',
 '18',
 '13',
 '21',
 '13',
 '7',
 '39',
 '30',
 '15',
 '6',
 '8',
 '17',
 '8',
 '23',
 '13',
 '15',
 '7',
 '13',
 '14',
 '1',
 '8',
 '6',
 '3',
 '7',
 '1',
 '1',
 '1',
 '16',
 '5',
 '2',
 '8',
 '2',
 '2',
 '4',
 '4',
 '12',
 '2',
 '9',
 '19',
 '1',
 '1',
 '10',
 '15',
 '18',
 '1',
 '18',
 '5',
 '1',
 '1',
 '7',
 '1',
 '18',
 '7',
 '2',
 '1',
 '6',
 '1',
 '7']

In [13]:
peak = []
peaks = driver.find_elements_by_xpath("//li[@class='o-chart-results-list__item // a-chart-bg-color a-chart-color u-width-72 u-width-55@mobile-max u-width-55@tablet-only lrv-u-flex lrv-u-flex-shrink-0 lrv-u-align-items-center lrv-u-justify-content-center lrv-u-background-color-grey-lightest lrv-u-border-b-1 u-border-b-0@mobile-max lrv-u-border-color-grey-light lrv-u-flex-grow-1']")
for i in peaks:
    pea = i.text
    peak.append(pea)
peak

['',
 '1',
 '',
 '1',
 '',
 '3',
 '',
 '4',
 '',
 '5',
 '',
 '1',
 '',
 '7',
 '',
 '2',
 '',
 '8',
 '',
 '10',
 '',
 '11',
 '',
 '2',
 '',
 '5',
 '',
 '14',
 '',
 '1',
 '',
 '3',
 '',
 '17',
 '',
 '1',
 '',
 '3',
 '',
 '10',
 '',
 '9',
 '',
 '6',
 '',
 '23',
 '',
 '5',
 '',
 '11',
 '',
 '11',
 '',
 '14',
 '',
 '28',
 '',
 '29',
 '',
 '7',
 '',
 '4',
 '',
 '32',
 '',
 '1',
 '',
 '34',
 '',
 '15',
 '',
 '30',
 '',
 '37',
 '',
 '13',
 '',
 '21',
 '',
 '40',
 '',
 '1',
 '',
 '42',
 '',
 '32',
 '',
 '2',
 '',
 '45',
 '',
 '25',
 '',
 '17',
 '',
 '48',
 '',
 '1',
 '',
 '23',
 '',
 '51',
 '',
 '52',
 '',
 '53',
 '',
 '28',
 '',
 '1',
 '',
 '56',
 '',
 '57',
 '',
 '1',
 '',
 '59',
 '',
 '60',
 '',
 '61',
 '',
 '62',
 '',
 '45',
 '',
 '58',
 '',
 '65',
 '',
 '66',
 '',
 '67',
 '',
 '68',
 '',
 '69',
 '',
 '48',
 '',
 '71',
 '',
 '72',
 '',
 '73',
 '',
 '74',
 '',
 '75',
 '',
 '53',
 '',
 '34',
 '',
 '20',
 '',
 '79',
 '',
 '13',
 '',
 '18',
 '',
 '82',
 '',
 '83',
 '',
 '38',
 '',
 '3',
 '',
 '22',
 '',
 '87',
 '',
 '64',
 '',
 '49',
 '',
 '90',
 '',
 '91',
 '',
 '20',
 '',
 '93',
 '',
 '56',
 '',
 '27',
 '',
 '86',
 '',
 '97',
 '',
 '49',
 '',
 '99',
 '',
 '81']

In [20]:
peakrank = peak[1: :2]
peakrank

['1',
 '1',
 '3',
 '4',
 '5',
 '1',
 '7',
 '2',
 '8',
 '10',
 '11',
 '2',
 '5',
 '14',
 '1',
 '3',
 '17',
 '1',
 '3',
 '10',
 '9',
 '6',
 '23',
 '5',
 '11',
 '11',
 '14',
 '28',
 '29',
 '7',
 '4',
 '32',
 '1',
 '34',
 '15',
 '30',
 '37',
 '13',
 '21',
 '40',
 '1',
 '42',
 '32',
 '2',
 '45',
 '25',
 '17',
 '48',
 '1',
 '23',
 '51',
 '52',
 '53',
 '28',
 '1',
 '56',
 '57',
 '1',
 '59',
 '60',
 '61',
 '62',
 '45',
 '58',
 '65',
 '66',
 '67',
 '68',
 '69',
 '48',
 '71',
 '72',
 '73',
 '74',
 '75',
 '53',
 '34',
 '20',
 '79',
 '13',
 '18',
 '82',
 '83',
 '38',
 '3',
 '22',
 '87',
 '64',
 '49',
 '90',
 '91',
 '20',
 '93',
 '56',
 '27',
 '86',
 '97',
 '49',
 '99',
 '81']

In [21]:
songdf = pd.DataFrame({'Song Name':heasong+song,'Artist Name': heaartist+artist,'Last Week Rank': board,'Peak Rank':peakrank,'Weeks on board':onchart})
songdf

,Song Name,Artist Name,Last Week Rank,Peak Rank,Weeks on board
0,Easy On Me,Adele,2,1,13
1,Stay,The Kid LAROI & Justin Bieber,6,1,26
2,Heat Waves,Glass Animals,7,3,51
3,Shivers,Ed Sheeran,9,4,17
4,We Don't Talk About Bruno,"Carolina Gaitan, Mauro Castillo, Adassa, Rhenz...",50,5,2
...,...,...,...,...,...
95,Me Or Sum,"Nardo Wick, Lil Baby & Future",-,86,2
96,I Love You So,The Walters,-,97,1
97,Bad Man (Smooth Criminal),Polo G,-,49,6
98,Never Wanted To Be That Girl,Carly Pearce & Ashley McBryde,-,99,1
99,Just About Over You,Priscilla Block,-,81,7

In [22]:
driver.close()

7. Scrape the details of Data science recruiters from naukri.com. Url = https://www.naukri.com/
   - You have to find the following details:
        - A) Name
        - B) Designation
        - C) Company
        - D) Skills they hire for
        - E) Location
   - Note: - From naukri.com homepage click on the recruiters option and the on the search pane type Data science and click on search. All this should be done through code

In [30]:
driver = webdriver.Chrome(r"C:/Users/Lenovo/Desktop/DS/chromedriver.exe")
driver.get ('https://www.naukri.com/hr-recruiters-consultants')

In [31]:
sear = driver.find_element_by_xpath("/html/body/div[2]/div[2]/div[1]/div[1]/form/div[1]/div/div[1]/div[1]/div[2]/input")
sear.click()

In [32]:
science = driver.find_element_by_xpath("/html/body/div[2]/div[2]/div[1]/div[1]/form/div[1]/div/div[1]/div[1]/div[2]/input")
science.send_keys('Data Science')

In [34]:
find = driver.find_element_by_xpath("//button[@class='fl qsbSrch blueBtn']")
find.click()

In [35]:
name = []
names = driver.find_elements_by_xpath("//span[@class='fl ellipsis']")
for i in names:
    na = i.text
    name.append(na)
name

['Aakash Harit',
 'shravan Kumar Gaddam',
 'MARSIAN Technologies LLP',
 'Anik Agrawal',
 'subhas patel',
 'Abhishek - Only Analytics Hiring - India and',
 'Institute for Financial Management and Resear',
 'Balu Ramesh',
 'Asif Lucknowi',
 'InstaFinancials',
 'Priyanka Akiri',
 'Kalpana Dumpala',
 'Mubarak',
 'Kushal Rastogi',
 'Mahesh Babu Channa',
 'Sakshi Chhikara',
 'Kapil Devang',
 'Ruchi Dhote',
 'Sandhya Khandagale',
 'Manisha Yadav',
 'Riya Rajesh',
 'Rashmi Bhattacharjee',
 'Faizan Kareem',
 'Rithika dadwal',
 'Shaun Rao',
 'Azahar Shaikh',
 'Manas',
 'kumar',
 'Sunil Vedula',
 'Rajat Kumar',
 'Avodha',
 'Jayanth N',
 'Priya Khare',
 'Dhruv Dev Dubey',
 'Amit Sharma',
 'Kanan',
 'Shashikant Chaudhary',
 'Brad',
 'Rutuja Pawar',
 'Madhusudhan Sridhar',
 'Ankit Sinha',
 'Gaurav Chouhan',
 'Rashi Kacker',
 'Ashwini',
 'Balaji Kolli',
 'Rajani Nagaraj',
 'ROHIT Kumar',
 'Amir Chowdhury',
 'SREEDHAR',
 'Radha Manivasagam']

In [36]:
design = []
designs = driver.find_elements_by_xpath("//span[@class='ellipsis clr']")
for i in designs:
    desig = i.text
    design.append(desig)
design

['HR Manager',
 'Company Recruiter',
 'Company HR',
 'Company Recruiter',
 'Founder CEO',
 'Recruitment Lead Consultant',
 'Programme Manager',
 'HR Administrator',
 'Director',
 'Human Resource',
 'HR Manager',
 'Executive Hiring',
 'Company HR',
 'Company HR',
 'HR Team Lead',
 'Assistant Manager HR',
 'HR Manager',
 'Senior Executive Talent Acquisition',
 'HR Recruiter',
 'HR Executive',
 'Manager Talent Acquisition',
 'HR Head',
 'HR MANAGER',
 'HR Recruiter',
 'Manager Human Resources',
 'Company Recruiter',
 'Lead Talent acquisition',
 'Proprietor',
 'CEO',
 'Founder CEO',
 'Business Development Associate',
 'Project Manager',
 'Senior Manager',
 'Company Recruitment Head',
 'Consultant',
 'senior technology instructor',
 'HR Recruiter/HR Excutive',
 'Manager, Technical Recruiting',
 'Technical Recruiter',
 'Erp Implementer',
 'Head Analytics',
 'Chief Technical Officer',
 'Sr Product Manager',
 'Director Global Delivery',
 'Co Founder',
 'HR Manager',
 'Architect',
 'Managing Partner',
 'Recruitment Consultant',
 'HR Executive']

In [37]:
company = []
companys = driver.find_elements_by_xpath("//a[@class='ellipsis'][2]")
for i in companys:
    compa = i.text
    company.append(compa)
company

['Data Science Network',
 'Shore Infotech India Pvt. Ltd',
 'MARSIAN Technologies LLP',
 'Enerlytics Software Solutions Pvt Ltd',
 'LibraryXProject',
 'Apidel Technologies Division of Transpower',
 'IFMR',
 'Techvantage Systems Pvt Ltd',
 'Weupskill- Live Wire India',
 'CBL Data Science Private Limited',
 'Infinitive Software Solutions',
 'Innominds Software',
 'MoneyTap',
 'QuantMagnum Technologies Pvt. Ltd.',
 'SocialPrachar.com',
 'BIZ INFOTECNO PRIVATE LIMITED',
 'BISP Solutions',
 'Bristlecone India Ltd',
 'Compumatrice Multimedia Pvt Ltd',
 'Easi Tax',
 'Novelworx Digital Solutions',
 'AXESTRACK SOFTWARE SOLUTIONS PRIVATE...',
 'FirstTech Consaltants Pvt.Ltd',
 'Affine Analytics',
 'Exela Technologies',
 'NEAL ANALYTICS SERVICES PVT LTD',
 'Autumn Leaf Consulting Services Private...',
 'trainin',
 'Nanoprecise Sci Corp',
 'R.S Consultancy &amp; Services',
 'Nikitha Palaparthi',
 'Dollarbird Information Services Pvt, Ltd',
 'Independent Consultant',
 'Confidential',
 'ASCO consulting',
 'NY INST',
 '3D India Staffing Research &amp; Consulting...',
 'O.C. Tanner',
 'Demand Matrix',
 'MADHUSUDHAN SRIDHAR',
 'Suntech Global',
 'Strategic Consulting Lab',
 'Impel Labs Pvt. Ltd.',
 'MRP Advisers',
 'Saras Solutions India Pvt Ltd',
 'WildJasmine',
 'LNT Private Limited',
 'Granular.ai',
 'JOBSMILL BUSINESS SOLUTIONS PRIVATE LIMITED',
 'Techcovery']

In [38]:
skills = []
skillss = driver.find_elements_by_xpath("//div[@class='hireSec highlightable']")
for i in skillss:
    skil = i.text
    skills.append(skil)
skills

['Classic ASP Developer, Internet Marketing Professional, Data Science SME, Content Writers, SEO Professional, Revenue Professional',
 '.Net, Java, Data Science, Linux Administration, Sql Server Development, Winforms, Wcf Services, Wpf, Telecom Engineering, Technical Management, Software',
 'Data Science, Artificial Intelligence, Machine Learning, Business Analytics',
 'Mean Stack, javascript, angularjs, mongodb, Web Services, rest, express, Node.js, Big Data, iot, Data Science, Cloud Computing, saas, Aws',
 'Hadoop, Spark, Digital Strategy, Data Architecture, Command Center, Cdp, Dmp, Kafka, Data Science, Data Analysis, Big Data Analytics, Real Time Analysis, SQL',
 'Analytics, Business Intelligence, Business Analytics, Predictive Modeling, Predictive Analytics, Data Science, Data Analysis, Data Analytics, Big Data, Big',
 'Data Science',
 'Machine Learning, algorithms, Go Getter, Computer Science, spark, Big Data, hdfs, sql, cassandra, hadoop, python, scala, java, Data Science, Front End',
 'Technical Training, Software Development, Presentation Skills, B.tech, M.tech, B.e., mca, msc, Computer Science, freshers, jobs in indore, Data Science, itil',
 'Software Development, It Sales, Account Management, Data Analysis, Customer Service, Sr, Software Engineering, Mvc, Ajax, Asp.net, Html, C#, Javascript',
 'Oracle Dba, Data Science, Data Warehousing, ETL, Jupyter, Numpy, Data Transformation, Snowflake, Teradata, Python, Data Manipulation, Relational Databases',
 'Qa, Ui/ux, Java Developer, Java Architect, C++/qt, Php, Lamp, Api, J2ee, Java, Soa, Esb, Middleware, Bigdata Achitect, Hadoop Architect, Deep',
 'Business Intelligence, Data Warehousing, Data Science, Business Analytics, Customer Support, Business Reporting, Bi',
 'Office Administration, Hr Administration, telecalling, client relationship management, Client Acquisition, Sales, Reception, HR, Recruitment, Onboarding, Human',
 'Social Media, digital media maketing, seo, smm, smo, sem, Content Wirting, social media marketing, social media manager, digital media marketing manager',
 'React.js, Data Science, Java, Front End, Business Analytics, Backend, Tableau, Python, Qa Testing, Automation Testing',
 'Big Data, Hadoop, Data Analytics, Data Science',
 'Qlikview, Qlik Sense, Microsoft Azure, Power Bi, Data Science, Machine Learning',
 'Big Data, Data Science, Artificial Intelligence, Hadoop, Ui Development, Php, Freelancing, .Net, Software Testing, Sap, Leadership Hiring',
 'Telecalling, Client Interaction, Marketing, Research, Web Development, Social Media Marketing, Data Entry Operation, Excel, Ms Office, Invoicing',
 'Data Science',
 'Corporate Sales, Software Development, Software Sales, Marketing, Creative Designing, Corporate Planning, Senior Management, Crm, Client Relationship',
 'Data Analytics, Data Science, Machine Learning, Deep Learning, Nlp, Data Mining, Python, R, Database Administration, Text Mining',
 'Data Science, Machine Learning, Python, R, Deep Learning, Big Data, Hadoop',
 'Java, Net, Angularjs, Hr, Infrastructure, Management, Project Management, Business Analysis, Data Science, Information Technology, Technology',
 'Data Science, Artificial Intelligence, Machine Learning, Data Analytics',
 'Software Architecture, Vp Engineering, Product Management, analytics, Data Science, Node.js, Principal Engineer, Big Data, python, angularjs, React.js',
 'Data Science, Hadoop, Rpas, Devops, Python, Aws, Teaching, Big Data',
 'Signal Processing, Machine Learning, Neural Networks, Data Science, Predictive Analytics, Time Series Analysis, Data Visualization, Technical Leadership, Data',
 'Web Technologies, Project Management, Software Architecture, Data Science, Object Oriented Programming, Computer Science, Electrical Engineering, Architecture',
 'Ethical Hacking, Security Operations Center, SOC, Managed Services, Data Science, Machine Learning, Artificial Intelligence, Operations Research, Education',
 'Data Analytics, Managed Services, Team Leading, python, Machine Learning, Google Analytics, Dmp, Aws, Campaign Analytics, Digital Campaigns, Audience',
 'Data Science, Artificial Intelligence, analytics, Business Intelligence, python, tableau, Power Bi, qlikview, sql, Data Warehousing, Data Visualization',
 'Server Administartion, Verilog, Vhdl, Digital Marketing, Market Research, Property Research, Legal, It And Non It Recruitment, Logistics, Supply Chain, Bfsi',
 'Machine Learning, Artificial Intelligence, Data Science, Software Engineering, Software Development, Graduate Engineer Trainee, Fresher, Data Analytics, Java',
 'C, C++, Artificial Intelligence, Python, Php, Web Development, Matlab, Data Science, Augmented Reality, C C++',
 'Relationship Management, Retail Sales, Private Banking, Mutual Funds, NISM, Equity, Finance, Financial Products, Financial Services, Verbal, Written',
 'Data Science, Software Engineering',
 'Data Science, Big Data Analytics, Digital Marketing, Content Writing, Ui Development, Database Development, Qa Automation, Python, Project Management',
 'Data Science, Recruitment, Salary',
 'B.Tech, Tableau, Statistics, R, Analytics, Time Series, Data Science, Business Solutions, SQL, Technical Skills, SSAS, SQL Server, Analysis Services, Qlikview',
 'Software Development, Business Intelligence, Big Data Analytics, Database Administration, Data Science, Microsoft Azure, Spark, Cassandra, Object Oriented',
 'Data Science, Node.js, Angularjs',
 'Data Science, Media Marketing, Resource Planning, Managed Services, Display Advertising, Machine Learning, Python, Etl, Sql',
 'Data Analysis, Learning, Data Science, Computer Science, Communication Skills',
 'Java, Hadoop, R, Machine Learning, Spark, Flume, Hdfs, Data Mining, Sas, Big, Data Science, Cloudera, Impala, Bigdata',
 'Software Development, Core Java, Unit Testing, Customer Experience, Problem Solving, Communication Skills, Mysql, Data Science, Sales Management, Analytics',
 'Machine Learning, Data Science, Product Management, New Product, Data Analysis, Computer Vision, Deep Learning, Python, Remote Sensing',
 'Data Science, Machine Learning, Big Data Analytics, Spark, Python, R, Networking, Network Engineering, Placement, Training, Sql, Marketing, Mainframes, All',
 'Python, Artificial Intelligence, Machine Learning, Data Science']

In [42]:
locate = []
locates = driver.find_elements_by_xpath("//small[@class='ellipsis']")
for i in locates:
    loca = i.text
    try:
        locate.append(loca)
    except:
        locate.append('-')
locate

['Delhi',
 'Hyderabad / Secunderabad',
 'Pune',
 'Ahmedabad',
 'UK - (london)',
 'Vadodara / Baroda',
 'Chennai',
 'Trivandrum',
 'Indore',
 'Bengaluru / Bangalore',
 'Hyderabad',
 'Hyderabad / Secunderabad',
 'Bengaluru / Bangalore',
 'Mumbai',
 'Hyderabad / Secunderabad',
 'Chandigarh',
 'Bhopal',
 'Pune',
 'Pune',
 'Navi Mumbai',
 'Cochin',
 'Delhi',
 'Hyderabad / Secunderabad',
 'Pune',
 'Pune',
 'Pune',
 'Bengaluru / Bangalore',
 'Bengaluru / Bangalore',
 'Delhi',
 'Hyderabad / Secunderabad',
 'Mysoru / Mysore',
 'Bengaluru / Bangalore',
 'Bengaluru / Bangalore',
 'New Delhi',
 'Chennai',
 'Aligarh',
 'Salt Lake City',
 'Pune',
 'Bengaluru / Bangalore',
 'Mumbai',
 'Indore',
 'Bengaluru / Bangalore',
 'MYSORE',
 'Hyderabad / Secunderabad',
 'Bengaluru / Bangalore',
 'Mumbai',
 'Hyderabad / Secunderabad',
 'Bengaluru / Bangalore']

In [47]:
naudf = pd.DataFrame({'Name':name,'Designation': design,'Company': company,'Skills they require for':skills,'Location':locate})
naudf

,Name,Designation,Company,Skills they require for,Location
0,Aakash Harit,HR Manager,Data Science Network,"Classic ASP Developer, Internet Marketing Prof...",Delhi
1,shravan Kumar Gaddam,Company Recruiter,Shore Infotech India Pvt. Ltd,".Net, Java, Data Science, Linux Administration...",Hyderabad / Secunderabad
2,MARSIAN Technologies LLP,Company HR,MARSIAN Technologies LLP,"Data Science, Artificial Intelligence, Machine...",Pune
3,Anik Agrawal,Company Recruiter,Enerlytics Software Solutions Pvt Ltd,"Mean Stack, javascript, angularjs, mongodb, We...",Ahmedabad
4,subhas patel,Founder CEO,LibraryXProject,"Hadoop, Spark, Digital Strategy, Data Architec...",UK - (london)
5,Abhishek - Only Analytics Hiring - India and,Recruitment Lead Consultant,Apidel Technologies Division of Transpower,"Analytics, Business Intelligence, Business Ana...",Vadodara / Baroda
6,Institute for Financial Management and Resear,Programme Manager,IFMR,Data Science,Chennai
7,Balu Ramesh,HR Administrator,Techvantage Systems Pvt Ltd,"Machine Learning, algorithms, Go Getter, Compu...",Trivandrum
8,Asif Lucknowi,Director,Weupskill- Live Wire India,"Technical Training, Software Development, Pres...",Indore
9,InstaFinancials,Human Resource,CBL Data Science Private Limited,"Software Development, It Sales, Account Manage...",Bengaluru / Bangalore
10,Priyanka Akiri,HR Manager,Infinitive Software Solutions,"Oracle Dba, Data Science, Data Warehousing, ET...",Hyderabad
11,Kalpana Dumpala,Executive Hiring,Innominds Software,"Qa, Ui/ux, Java Developer, Java Architect, C++...",Hyderabad / Secunderabad
12,Mubarak,Company HR,MoneyTap,"Business Intelligence, Data Warehousing, Data ...",Bengaluru / Bangalore
13,Kushal Rastogi,Company HR,QuantMagnum Technologies Pvt. Ltd.,"Office Administration, Hr Administration, tele...",Mumbai
14,Mahesh Babu Channa,HR Team Lead,SocialPrachar.com,"Social Media, digital media maketing, seo, smm...",Hyderabad / Secunderabad
15,Sakshi Chhikara,Assistant Manager HR,BIZ INFOTECNO PRIVATE LIMITED,"React.js, Data Science, Java, Front End, Busin...",Chandigarh
16,Kapil Devang,HR Manager,BISP Solutions,"Big Data, Hadoop, Data Analytics, Data Science",Bhopal
17,Ruchi Dhote,Senior Executive Talent Acquisition,Bristlecone India Ltd,"Qlikview, Qlik Sense, Microsoft Azure, Power B...",Pune
18,Sandhya Khandagale,HR Recruiter,Compumatrice Multimedia Pvt Ltd,"Big Data, Data Science, Artificial Intelligenc...",Pune
19,Manisha Yadav,HR Executive,Easi Tax,"Telecalling, Client Interaction, Marketing, Re...",Navi Mumbai
20,Riya Rajesh,Manager Talent Acquisition,Novelworx Digital Solutions,Data Science,Cochin
21,Rashmi Bhattacharjee,HR Head,AXESTRACK SOFTWARE SOLUTIONS PRIVATE...,"Corporate Sales, Software Development, Softwar...",Delhi
22,Faizan Kareem,HR MANAGER,FirstTech Consaltants Pvt.Ltd,"Data Analytics, Data Science, Machine Learning...",Hyderabad / Secunderabad
23,Rithika dadwal,HR Recruiter,Affine Analytics,"Data Science, Machine Learning, Python, R, Dee...",Pune
24,Shaun Rao,Manager Human Resources,Exela Technologies,"Java, Net, Angularjs, Hr, Infrastructure, Mana...",Pune
25,Azahar Shaikh,Company Recruiter,NEAL ANALYTICS SERVICES PVT LTD,"Data Science, Artificial Intelligence, Machine...",Pune
26,Manas,Lead Talent acquisition,Autumn Leaf Consulting Services Private...,"Software Architecture, Vp Engineering, Product...",Bengaluru / Bangalore
27,kumar,Proprietor,trainin,"Data Science, Hadoop, Rpas, Devops, Python, Aw...",Bengaluru / Bangalore
28,Sunil Vedula,CEO,Nanoprecise Sci Corp,"Signal Processing, Machine Learning, Neural Ne...",Delhi
29,Rajat Kumar,Founder CEO,R.S Consultancy &amp; Services,"Web Technologies, Project Management, Software...",Hyderabad / Secunderabad
30,Avodha,Business Development Associate,Nikitha Palaparthi,"Ethical Hacking, Security Operations Center, S...",Mysoru / Mysore
31,Jayanth N,Project Manager,"Dollarbird Information Services Pvt, Ltd","Data Analytics, Managed Services, Team Leading...",Bengaluru / Bangalore
32,Priya Khare,Senior Manager,Independent Consultant,"Data Science, Artificial Intelligence, analyti...",Bengaluru / Bangalore
33,Dhruv Dev Dubey,Company Recruitment Head,Confidential,"Server Administartion, Verilog, Vhdl, Digital ...",New Delhi
34,Amit Sharma,Consultant,ASCO consulting,"Machine Learning, Artificial Intelligence, Dat...",Chennai
35,Kanan,senior technology instructor,NY INST,"C, C++, Artificial Intelligence, Python, Php, ...",Aligarh
36,Shashikant Chaudhary,HR Recruiter/HR Excutive,3D India Staffing Research &amp; Consulting...,"Relationship Management, Retail Sales, Private...",Salt Lake City
37,Brad,"Manager, Technical Recruiting",O.C. Tanner,"Data Science, Software Engineering",Pune
38,Rutuja Pawar,Technical Recruiter,Demand Matrix,"Data Science, Big Data Analytics, Digital Mark...",Bengaluru / Bangalore
39,Madhusudhan Sridhar,Erp Implementer,MADHUSUDHAN SRIDHAR,"Data Science, Recruitment, Salary",Mumbai
40,Ankit Sinha,Head Analytics,Suntech Global,"B.Tech, Tableau, Statistics, R, Analytics, Tim...",Indore
41,Gaurav Chouhan,Chief Technical Officer,Strategic Consulting Lab,"Software Development, Business Intelligence, B...",Bengaluru / Bangalore
42,Rashi Kacker,Sr Product Manager,Impel Labs Pvt. Ltd.,"Data Science, Node.js, Angularjs",MYSORE
43,Ashwini,Director Global Delivery,MRP Advisers,"Data Science, Media Marketing, Resource Planni...",Hyderabad / Secunderabad
44,Balaji Kolli,Co Founder,Saras Solutions India Pvt Ltd,"Data Analysis, Learning, Data Science, Compute...",Bengaluru / Bangalore
45,Rajani Nagaraj,HR Manager,WildJasmine,"Java, Hadoop, R, Machine Learning, Spark, Flum...",Mumbai
46,ROHIT Kumar,Architect,LNT Private Limited,"Software Development, Core Java, Unit Testing,...",Hyderabad / Secunderabad
47,Amir Chowdhury,Managing Partner,Granular.ai,"Machine Learning, Data Science, Product Manage...",Bengaluru / Bangalore
48,SREEDHAR,Recruitment Consultant,JOBSMILL BUSINESS SOLUTIONS PRIVATE LIMITED,"Data Science, Machine Learning, Big Data Analy...",-
49,Radha Manivasagam,HR Executive,Techcovery,"Python, Artificial Intelligence, Machine Learn...",-

In [48]:
driver.close()

8. Scrape the details of Highest selling novels. Url = https://www.theguardian.com/news/datablog/2012/aug/09/best-selling-books-all-time-fifty-shades-greycompare/
- You have to find the following details:
    - A) Book name
    - B) Author name
    - C) Volumes sold
    - D) Publisher
    - E) Genre

In [61]:
driver = webdriver.Chrome(r"C:/Users/Lenovo/Desktop/DS/chromedriver.exe")
driver.get ("https://www.theguardian.com/news/datablog/2012/aug/09/best-selling-books-all-time-fifty-shades-grey-compare")

book = []
books = driver.find_elements_by_xpath("//table[@class='in-article sortable']/tbody/tr/td[2]")
for i in books:
    bo = i.text
    book.append(bo)

author = []
authors = driver.find_elements_by_xpath("//table[@class='in-article sortable']/tbody/tr/td[3]")
for i in authors:
    autho = i.text
    author.append(autho)

sold = []
solds = driver.find_elements_by_xpath("//table[@class='in-article sortable']/tbody/tr/td[4]")
for i in solds:
    so = i.text
    sold.append(so)

publisher = []
publishers = driver.find_elements_by_xpath("//table[@class='in-article sortable']/tbody/tr/td[5]")
for i in publishers:
    publish = i.text
    publisher.append(publish)

genre = []
genres = driver.find_elements_by_xpath("//table[@class='in-article sortable']/tbody/tr/td[6]")
for i in genres:
    gen = i.text
    genre.append(gen)

noveldf = pd.DataFrame({'Book Name':book,'Author Nmae': author,'Volumes Sold': sold,'Publisher':publisher,'Genre':genre})
noveldf

driver.close()

,Book Name,Author Nmae,Volumes Sold,Publisher,Genre
0,"Da Vinci Code,The","Brown, Dan","5,094,805",Transworld,"Crime, Thriller & Adventure"
1,Harry Potter and the Deathly Hallows,"Rowling, J.K.","4,475,152",Bloomsbury,Children's Fiction
2,Harry Potter and the Philosopher's Stone,"Rowling, J.K.","4,200,654",Bloomsbury,Children's Fiction
3,Harry Potter and the Order of the Phoenix,"Rowling, J.K.","4,179,479",Bloomsbury,Children's Fiction
4,Fifty Shades of Grey,"James, E. L.","3,758,936",Random House,Romance & Sagas
...,...,...,...,...,...
95,"Ghost,The","Harris, Robert","807,311",Random House,General & Literary Fiction
96,Happy Days with the Naked Chef,"Oliver, Jamie","794,201",Penguin,Food & Drink: General
97,"Hunger Games,The:Hunger Games Trilogy","Collins, Suzanne","792,187",Scholastic Ltd.,Young Adult Fiction
98,"Lost Boy,The:A Foster Child's Search for the L...","Pelzer, Dave","791,507",Orion,Biography: General
99,Jamie's Ministry of Food:Anyone Can Learn to C...,"Oliver, Jamie","791,095",Penguin,Food & Drink: General

9. Scrape the details most watched tv series of all time from imdb.com. Url = https://www.imdb.com/list/ls095964455/
 - You have to find the following details:
    - A) Name
    - B) Year span
    - C) Genre
    - D) Run time
    - E) Ratings
    - F) Votes

In [63]:
driver = webdriver.Chrome(r"C:/Users/Lenovo/Desktop/DS/chromedriver.exe")
driver.get ("https://www.imdb.com/list/ls095964455/")

In [66]:
name = []
names = driver.find_elements_by_xpath("//h3[@class='lister-item-header']/a")
for i in names:
    na = i.text
    name.append(na)
    
year = []
years = driver.find_elements_by_xpath("//h3[@class='lister-item-header']/span[2]")
for i in years:
    ye = i.text
    year.append(ye)
    
genre = []
genres = driver.find_elements_by_xpath("//span[@class='genre']")
for i in genres:
    genr = i.text
    genre.append(genr)
    
time = []
times = driver.find_elements_by_xpath("//span[@class='runtime']")
for i in times:
    tim = i.text
    time.append(tim)
    
rating = []
ratings = driver.find_elements_by_xpath("//div[@class='ipl-rating-star small']/span[2]")
for i in ratings:
    rati = i.text
    rating.append(rati)
        
vote = []
votes = driver.find_elements_by_xpath("//p[@class='text-muted text-small'][3]/span[2]")
for i in votes:
    vot = i.text
    vote.append(vot)
    
imdbdf = pd.DataFrame({'Name':name,'Year Span': year, 'Genre':genre,'Run Time': time,'Ratings':rating,'Votes':vote})
imdbdf

,Name,Year Span,Genre,Run Time,Ratings,Votes
0,Game of Thrones,(2011–2019),"Action, Adventure, Drama",57 min,9.2,"1,930,901"
1,Stranger Things,(2016– ),"Drama, Fantasy, Horror",51 min,8.7,"951,671"
2,The Walking Dead,(2010–2022),"Drama, Horror, Thriller",44 min,8.2,"922,287"
3,13 Reasons Why,(2017–2020),"Drama, Mystery, Thriller",60 min,7.5,"276,348"
4,The 100,(2014–2020),"Drama, Mystery, Sci-Fi",43 min,7.6,"236,594"
...,...,...,...,...,...,...
95,Reign,(2013–2017),"Drama, Fantasy",42 min,7.5,"47,189"
96,A Series of Unfortunate Events,(2017–2019),"Adventure, Comedy, Drama",50 min,7.8,"57,981"
97,Criminal Minds,(2005–2020),"Crime, Drama, Mystery",42 min,8.1,"183,063"
98,Scream: The TV Series,(2015–2019),"Comedy, Crime, Drama",45 min,7.1,"38,343"
99,The Haunting of Hill House,(2018),"Drama, Horror, Mystery",572 min,8.6,"218,058"

In [67]:
driver.close()